<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>fushionbaby 母婴用品【支付页面】</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet"  href="css/checkout-list.css">
	<link rel="shortcut icon" href="favicon.ico">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
	<script type="text/javascript" src="js/persona-order.js"></script>
	<script type="text/javascript" src="js/checked.js"></script>
</head>
<body>
<!--[if IE 6]>
<script src="js/iepng.js" type="text/javascript"></script>	
<script type="text/javascript">
   EvPNG.fix('div,ul,img,li,input,span,b,h1,h2,h3,h4,a');
</script>
<![endif]-->
	<div class="site-topbar">
		<div class="container">
			<div class="st-bdl">
				<span>你好，欢迎您来到FUSHIONBABY !</span>
				<span class="tn-line">丨</span>
				<span class="login"><a href="login.html">登陆</a></span>
				<span class="tn-line">丨</span>
				<span class="register"><a href="register.html">快速注册</a></span>			
			</div>
			<div class="st-bdr">
				<span class="uesrname-wrapper">
					<span>欢迎您：</span>
					<span class="uesrname">
						<span>液氧橘子</span>
						<span class="arrow-tips"></span>
						<div class="clearfix"></div>
 						<div class="user-drop">
 							<ul>
 								<li>
 									<a class="personal" href="persona-order.html">
 										<i></i>
 										<span>个人中心</span>
 									</a>
 								</li>
 								<li>
 									<a class="collect" href="persona-order.html">
 										<i></i>
 										<span>我的收藏</span>
 									</a>
 								</li>
 								<li>
 									<a class="withdraw" href="index.html">
 										<i></i>
 										<span>退出登录</span>
 									</a>
 								</li>
 							</ul>
 						</div>
					</span>
					
				</span>
				<span class="tn-line">丨</span>
				<span class="tel">联系电话：4006-282-528</span>
			</div>
		</div>
	</div>
<!--site-topbar end-->
	<div class="site-header container" style="height:179px">
	 	<div class="logo">
	 		<h1>
	 			<a href="index.html">
	 				<img src="images/logo.jpg" alt="fushion baby" title="fushion baby">
	 				<span class="logo-txt">fushion baby</span>
	 			</a>
	 		</h1>
	 	</div>
		<div class="site-header-r">
			<ul class="progress-t">
				<li>
					<span>我的购物车</span>
					<em></em>
				</li>
				<li>
					<span>我的购物车</span>
					<em></em>
				</li>
				<li style="margin:0 0 0 6px;background-color:#CBCBCB">
					<span>完成订单</span>
					<em class="progress-t-n"></em>
				</li>
			</ul>
			<div class="progress"></div>
		</div>

	</div>
	<!-- site-header end -->
	

	<!-- address -->
	



	<!-- payment -->
	<div class="payment container">
		<h3>支付方式</h3>
		<ul class="mode">
			<li class="zfb clickc">
				<a href="javascript:">
					<img src="images/zfb.png">
					<span class="changecolor">支付宝支付</span>
				</a>
			</li>
			<li class="wx clickc">
				<a href="javascript:">
					<img src="images/wxzf.png">
					<span class="changecolor">微信支付</span>
				</a>
			</li>
			<li class="wy clickc">
				<a href="javascript:">
					<img src="images/wyzf.png" alt="">
					<span class="changecolor">银联</span>
				</a>
			</li>
<!--			<li class="hdfk clickc">
				<a href="javascript:">
					<img src="images/hdfk.jpg" alt="">
					<span class="changecolor">货到付款</span>
				</a>
			</li>
-->		</ul>
		
	

		<p style="color:#32C7A9;font-weight:bold;font-size:16px;padding-left:26px;margin:22px 0 22px 0">总金额：<span>100.00</span>元</p>
		<p class="btn" style="float:none;">
			<input style="margin-left:26px;" class="btn-info btn-next" id="ok_pay" type="button" value="确认并支付"/>
		</p>
	</div>
	<!-- confirm -->
	



	<!--Footer-->

	<div class="gap"></div>
	<div class="footer">
		<div class="footer-t">
			<ul>
				<li>
					<img src="images/icon_r2_c1.jpg" >
					<a href="#">保证正品</a>
				</li>
				<li>
					<img src="images/icon_r1_c3.jpg" >
					<a href="#">24小时内闪电出仓</a>
				</li>
				<li>
					<img src="images/icon_r2_c5.jpg" >
					<a href="#">支持7天退换产品</a>
				</li>
				<li style="margin:0">
					<img src="images/icon_r3_c7.jpg" >
					<a href="#">售后无忧</a>
				</li>
			</ul>
		</div>
		<div class="footer-m">
			<div class="container">
				<dl class="footer-links">
					<dt>
						<h4>
							<img src="images/icon_r1_c1.jpg">
							<span>使用帮助</span>
						</h4>
					</dt>
					<dd style="margin-top:6px">
						<em></em>
						<a href="#">新手指南</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">常见问题</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">用户协议</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">售后政策</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">反诈骗公告</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">投诉与建议</a>
					</dd>
				</dl>
				<dl class="footer-links">
					<dt>
						<h4>
							<img src="images/icon_r2_c3.jpg">
							<span>售后支持</span>
						</h4>
					</dt>
					<dd style="margin-top:6px">
						<em></em>
						<a href="#">正品保障</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">退款说明</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">7天无理由退货</a>
					</dd>
				</dl>
				<dl class="footer-links">
					<dt>
						<h4>
							<img src="images/icon_r1_c5.jpg">
							<span>支付方式</span>
						</h4>
					</dt>
					<dd style="margin-top:6px">
						<em></em>
						<a href="#">在线支付</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">余额支付</a>
					</dd>
				</dl>
				<dl class="footer-links">
					<dt>
						<h4>
							<img src="images/icon_r1_c7.jpg">
							<span>配送方式</span>
						</h4>
					</dt>
					<dd style="margin-top:6px">
						<em></em>
						<a href="#">验货签收</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">物流信息</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">配送说明</a>
					</dd>
				</dl>
				<dl class="footer-links">
					<dt>
						<h4>
							<img src="images/icon_r1_c9.jpg">
							<span>关于我们</span>
						</h4>
					</dt>
					<dd style="margin-top:6px">
						<em></em>
						<a href="#">了解fushionbaby</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">加入我们</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">联系我们</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">招商合作</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">友情链接</a>
					</dd>
					<dd>
						<em></em>
						<a href="#">fushionbaby承诺</a>
					</dd>
				</dl>
				<div class="erweima">
					<a href="#"><img src="images/erweima.jpg"></a>
					<a href="#">扫一扫</a>
				</div>
			</div>
		</div>
		<div class="footer-b">沪ICP备14049824号</div>
	</div>

	<!-- 支付提示弹出框 -->
	<div class="pop-pay">
		<h5>支付提示</h5>
		<div class="pp-wrap clearfix">
			<i></i>
			<div class="pp-r">
				<p>支付完成前，请不要关闭此支付验证窗口。</p>
				<p class="mt">支付完成后，请根据您支付的情况点击下面按钮。</p>
				<div class="btn"><button class="btn-no">支付遇到问题</button><button class="btn-ok">支付完成</button></div>
			</div>
		</div>
	</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff1cde14f81847d03c80464a605207068' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>