<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fushionbaby.config.dao.SysmgrAlabaoConfigDao">
	<resultMap id="sysmgrAlabaoConfigResultMap" type="SysmgrAlabaoConfig">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="min_value" property="minValue" />
		<result column="max_value" property="maxValue" />
		<result column="discount_value" property="discountValue" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="remark" property="remark" />
		
	</resultMap>
	
	<!-- 查询出余额区间对象 -->
	<select id="findByMinMaxValue" resultMap="sysmgrAlabaoConfigResultMap">
		select 
			id,name,code,min_value,max_value,discount_value,create_time,update_time,remark
	   	from 
	   		t_sysmgr_alabao_config
	    where #{value} BETWEEN min_value AND max_value
	</select>
	
</mapper>