<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID_1" version="2.5">
	
	
	<!-- 读取spring配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		<!-- 开发  -->
		<!--  	-->
		classpath:conf/spring-order-develop.xml;classpath:conf/spring-order-mybatis.xml;
		classpath:conf/spring-member-develop.xml;classpath:conf/spring-member-mybatis.xml;
		classpath:conf/spring-sku-cms-develop.xml;classpath:conf/spring-sku-cms-mybatis.xml;
		classpath:conf/spring-sms-develop.xml;classpath:conf/spring-sms-mybatis.xml;
		classpath:conf/spring-config-develop.xml;classpath:conf/spring-config-mybatis.xml;
		classpath:conf/spring-sysactivity-develop.xml;classpath:conf/spring-sysactivity-mybatis.xml;
		classpath:conf/spring-log-develop.xml;classpath:conf/spring-log-mybatis.xml;
		classpath:conf/spring-activity-develop.xml;classpath:conf/spring-activity-mybatis.xml;
		classpath:conf/spring-statistics-develop.xml;classpath:conf/spring-statistics-mybatis.xml;
		classpath:conf/spring-card-develop.xml;classpath:conf/spring-card-mybatis.xml;
		classpath:conf/spring-alabao-develop.xml;classpath:conf/spring-alabao-mybatis.xml;
		classpath:conf/spring-period-activity-develop.xml;classpath:conf/spring-period-activity-mybatis.xml;
		classpath:conf/spring-payment-develop.xml;classpath:conf/spring-payment-mybatis.xml;
		classpath:conf/spring-store-develop.xml;classpath:conf/spring-store-mybatis.xml;
		
		<!-- 本地用的 -->
		<!--
		classpath:conf/spring-order-local.xml;classpath:conf/spring-order-mybatis.xml;
		classpath:conf/spring-member-local.xml;classpath:conf/spring-member-mybatis.xml;
		classpath:conf/spring-sku-cms-local.xml;classpath:conf/spring-sku-cms-mybatis.xml;
		classpath:conf/spring-sms-local.xml;classpath:conf/spring-sms-mybatis.xml;
		classpath:conf/spring-config-local.xml;classpath:conf/spring-config-mybatis.xml;
		classpath:conf/spring-sysactivity-local.xml;classpath:conf/spring-sysactivity-mybatis.xml;
		classpath:conf/spring-log-local.xml;classpath:conf/spring-log-mybatis.xml;
		classpath:conf/spring-activity-local.xml;classpath:conf/spring-activity-mybatis.xml;
		classpath:conf/spring-statistics-local.xml;classpath:conf/spring-statistics-mybatis.xml;
		classpath:conf/spring-card-local.xml;classpath:conf/spring-card-mybatis.xml;
		classpath:conf/spring-alabao-local.xml;classpath:conf/spring-alabao-mybatis.xml;
		classpath:conf/spring-period-activity-local.xml;classpath:conf/spring-period-activity-mybatis.xml;
		classpath:conf/spring-payment-local.xml;classpath:conf/spring-payment-mybatis.xml;
		classpath:conf/spring-store-local.xml;classpath:conf/spring-store-mybatis.xml;
		-->
		<!-- 测试用的  -->
		<!-- 
		classpath:conf/spring-order-test.xml;classpath:conf/spring-order-mybatis.xml;
		classpath:conf/spring-member-test.xml;classpath:conf/spring-member-mybatis.xml;
		classpath:conf/spring-sku-cms-test.xml;classpath:conf/spring-sku-cms-mybatis.xml;
		classpath:conf/spring-sms-test.xml;classpath:conf/spring-sms-mybatis.xml;
		classpath:conf/spring-config-test.xml;classpath:conf/spring-config-mybatis.xml;
		classpath:conf/spring-sysactivity-test.xml;classpath:conf/spring-sysactivity-mybatis.xml;
		classpath:conf/spring-log-test.xml;classpath:conf/spring-log-mybatis.xml; 
		classpath:conf/spring-activity-test.xml;classpath:conf/spring-activity-mybatis.xml;
		classpath:conf/spring-statistics-test.xml;classpath:conf/spring-statistics-mybatis.xml;
		classpath:conf/spring-card-test.xml;classpath:conf/spring-card-mybatis.xml;
		classpath:conf/spring-alabao-test.xml;classpath:conf/spring-alabao-mybatis.xml;
		classpath:conf/spring-period-activity-test.xml;classpath:conf/spring-period-activity-mybatis.xml;
		classpath:conf/spring-payment-test.xml;classpath:conf/spring-payment-mybatis.xml;
		classpath:conf/spring-store-test.xml;classpath:conf/spring-store-mybatis.xml;
		-->
		<!-- 预发布  -->
		<!-- 
		classpath:conf/spring-order-predeploy.xml;classpath:conf/spring-order-mybatis.xml;
		classpath:conf/spring-member-predeploy.xml;classpath:conf/spring-member-mybatis.xml;
		classpath:conf/spring-sku-cms-predeploy.xml;classpath:conf/spring-sku-cms-mybatis.xml;
		classpath:conf/spring-sms-predeploy.xml;classpath:conf/spring-sms-mybatis.xml;
		classpath:conf/spring-config-predeploy.xml;classpath:conf/spring-config-mybatis.xml;
		classpath:conf/spring-sysactivity-predeploy.xml;classpath:conf/spring-sysactivity-mybatis.xml;
		classpath:conf/spring-log-predeploy.xml;classpath:conf/spring-log-mybatis.xml;
		classpath:conf/spring-activity-predeploy.xml;classpath:conf/spring-activity-mybatis.xml; 
		classpath:conf/spring-statistics-predeploy.xml;classpath:conf/spring-statistics-mybatis.xml;
		classpath:conf/spring-card-predeploy.xml;classpath:conf/spring-card-mybatis.xml;
		classpath:conf/spring-alabao-predeploy.xml;classpath:conf/spring-alabao-mybatis.xml;
		classpath:conf/spring-period-activity-predeploy.xml;classpath:conf/spring-period-activity-mybatis.xml;
		classpath:conf/spring-payment-predeploy.xml;classpath:conf/spring-payment-mybatis.xml;
		classpath:conf/spring-store-predeploy.xml;classpath:conf/spring-store-mybatis.xml;
		-->
		<!-- 发布 -->
		<!-- 	
		classpath:conf/spring-order-deploy.xml;classpath:conf/spring-order-mybatis.xml;
		classpath:conf/spring-member-deploy.xml;classpath:conf/spring-member-mybatis.xml;
		classpath:conf/spring-sku-cms-deploy.xml;classpath:conf/spring-sku-cms-mybatis.xml;
		classpath:conf/spring-sms-deploy.xml;classpath:conf/spring-sms-mybatis.xml;
		classpath:conf/spring-config-deploy.xml;classpath:conf/spring-config-mybatis.xml;
		classpath:conf/spring-sysactivity-deploy.xml;classpath:conf/spring-sysactivity-mybatis.xml;
		classpath:conf/spring-log-deploy.xml;classpath:conf/spring-log-mybatis.xml;
		classpath:conf/spring-activity-deploy.xml;classpath:conf/spring-activity-mybatis.xml;
		classpath:conf/spring-statistics-deploy.xml;classpath:conf/spring-statistics-mybatis.xml;
		classpath:conf/spring-card-deploy.xml;classpath:conf/spring-card-mybatis.xml;
		classpath:conf/spring-alabao-deploy.xml;classpath:conf/spring-alabao-mybatis.xml;
		classpath:conf/spring-period-activity-deploy.xml;classpath:conf/spring-period-activity-mybatis.xml;
		classpath:conf/spring-payment-deploy.xml;classpath:conf/spring-payment-mybatis.xml;
		classpath:conf/spring-store-deploy.xml;classpath:conf/spring-store-mybatis.xml;
		-->
		</param-value>
	</context-param>
	
	<!-- Spring字符集过滤器 -->
	<filter>
		<filter-name>SpringEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SpringEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- springMVC核心配置 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:conf/spring-task.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:conf/log4j.properties</param-value>
	</context-param> 
	<context-param> 
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
