@charset "UTF-8";
/**
* 忘记密码 CSS
* @authors Your Name (you@example.org)
* @date    2015-01-09 15:18:55
* @version $Id$
*/
/* css begin */
.container { width: 392px; margin: 0 auto; }
.logo img { margin: 120px auto; }
.list { margin-top: 52px; }
.list h3 { font-size: 20px;padding-bottom: 30px; text-align: center; color: #555;}
.list .text { width: 370px; height: 16px; border: 1px solid #CDCDCD; padding: 12px; font-size: 16px; color: #999; }
.list .text:hover { border-color: #7BDFF5; }
.list-item { padding-top: 30px;position: relative; float: left;width:100%;}
.textshort { width: 50%; height: 16px; border: 1px solid #CDCDCD; padding: 12px; font-size: 16px; color: #999; line-height: 18px; float: left; margin-right:10%; }
.textshort:hover { border-color: #7BDFF5; }
.list-item-btn { width: 50%;background-color: #fff; border: 1px solid #7BDFF5; border-radius: 5px; color: #7BDFF5; font-size: 16px; position: absolute; left: 50%; margin-left: -25%; cursor: pointer; padding: 9px;-webkit-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;}
.list-item-btn:hover { background-color: #7BDFF5; color: #fff; }
.list-item .code { width: 32%; background-color: #fff; color: #FDD17D; border-radius: 4px; display: inline-block; border: 1px solid #FDD17D;padding: 9px;float: right;font-size: 16px;-webkit-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;}
.list-item .code:hover { color: #fff; background-color: #FDD17D; }