@charset "UTF-8";
/**
*
* @authors Your Name (you@example.org)
* @date    2015-01-09 14:29:42
* @version $Id$
*/
@charset "utf-8";
/* css begin */
.pep-pic,.u-photo,.order-ft-l i,.acc-time i,.add-icon i,.add-address i,.new-addr .arrow,.new-addr .new-addr-hd .cancel,.add-r-ico{background:url(../images/sprite-myself.png) 0 0 no-repeat;}
/* site-topbar begin */
.site-header{height:145px;background-color:#fff;}
/* logo begin */
.logo{padding-top:11px;height:auto;float:left;}
.logo-txt{font-size:0;overflow:hidden;zoom:1;width:0;height:0;display:none;}
.header-info{width:416px;float:right;margin:35px 0 33px;position:relative;}
/* search begin */
.search{margin-right:32px;float:left;}
.search-form{width:268px;height:32px;background-color:#6AE0FF;position:relative;}
.search-btn{position:absolute;width:40px;height:31px;top:0;right:0;cursor:pointer;background-color:#6AE0FF;color:#fff;font-size:20px;transition:all 0.3s ease 0s;}
.search-btn:hover{color:#F40;}
/* shop begin */
.shop-car{font-size:24px;color:#C3C3C3;}
.shop-info{font-size:14px;color:#7B7B7B;}
/* header-nav begin */
.nc-arrow{position:absolute;top:19px;right:28px;}
.arrow{position:relative;}
.arrow .behind{border-color:#35A6CE transparent transparent transparent;top:-1px;}
.nav-brand .nb-behind{border-color:#EAC670 transparent transparent transparent;}
/* nav mian */
.nav-main-list li{float:left;overflow:visible;}
/* banner begin */
.banner{height:630px;}
/* newpro begin */
.newpro{margin-top:35px;}
.newpro-hd{padding:5px 0;position:relative;height:18px;width:223px;}
.newpro-hd h2{font-size:14px;font-weight:700;}
.newpro-bd{padding-top:33px;height:350px;width:1140px;position:relative;}
.newpro-bd-wrapper{height:350px;width:1140px;overflow:hidden;position:relative;}
.newpro-bd-list{width:200%;position:absolute;top:0;left:0;}
.newpro-bd-item{width:1140px;float:left;}
.newpro-bd-column{width:283px;height:348px;border:1px solid #E7E7E7;margin-left:-1px;float:left;}
.nbc-current{margin-left:0;}
.new{position:absolute;top:6px;right:5px;color:#EFC475;}
.nbw-arrow-wrapper{width:63px;height:21px;position:absolute;right:2px;top:-10px;}
.arrow-btn{width:30px;height:19px;border:1px solid #E5E5E5;float:left;margin-left:-1px;text-align:center;line-height:19px;color:#E9C267;cursor:pointer;}
.l-arrow{margin-left:0;}
.naw-current{color:#E9C267;}
/* site-header-r begin */
.site-header-r{float:right;padding-top:140px;margin-bottom:12px;position:relative;}
.site-header-r .progress-t{height:24px;}
.site-header-r .progress-t li{float:left;padding:3px 10px;position:relative;background-color:#7cdff6;border-radius:5px;margin-right:16px}
.site-header-r .progress-t li span{color:#fff;font-size:14px;line-height:18px;}
.site-header-r .progress-t li em{width:0;height:0;border-width:6px;border-style:solid dashed dashed dashed;border-color:#7cdff6 transparent transparent transparent;overflow:hidden;display:block;position:absolute;left:50%;bottom:-11px;margin-left:-6px}
.site-header-r .progress-t li em.progress-t-n{border-color:#CBCBCB transparent transparent transparent;}
.site-header-r .progress{position:absolute;background:url(../images/progress.png) no-repeat;bottom:-22px;right:30px;width:253px;height:12px;}
.site-header-r .progress-ok{background:url(../images/progress-ok.png) no-repeat!important;}
.site-header-r .progress-start{background:url(../images/progress-start.png) no-repeat!important;}
/* address begin */
.address h3,.payment h3,.confirm h3,.invoice h3,h3.public_title{font-size:16px;line-height:18px;color:#373737;border-bottom:1px solid #CCC;padding-bottom:7px;font-weight:700;margin:30px 0;}
.add-ages-l li{padding:15px;margin-right:10px;margin-bottom:10px;height:33px;float:left;width:338px;border:1px solid #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;position:relative;cursor:pointer;height:135px;}
.add-ages-l li.choosed{border-color:#56d5fc;border-width:3px;padding:13px;background:url(../images/address-choosed.png) no-repeat right bottom;}
.new-addr-bd .choosed{background:none!important;}
.add-ages-l li:hover{border-color:#56d5fc;}
.add-icon{float:left;width:34px;height:31px;}
.add-icon .icon-current{background-position:-22px -328px;display:block;width:15px;height:22px;margin:8px 1px 0 0;}
.add-select{float:left;line-height:30px;width:100%;color:#555;font-size:14px;}
.add-select .name{border-bottom:1px solid #ccc;padding-bottom:15px;margin-bottom:10px;font-size:16px;}
.add-select input{float:left;display:block;width:15px;height:36px;vertical-align:middle;}
.add{float:left;line-height:31px;color:#757777;padding-left:6px;cursor:default;font-size:16px;}
.add-current{font-weight:700;color:#373737;}
.add-address{clear:both;height:135px;line-height:135px;position:relative;text-align:center;width:100%;}
.add-address i{width:13px;height:13px;display:block;float:left;background-position:-2px -459px;margin-top:6px;position:absolute;left:100px;top:56px;}
.add-address i.each-current{background-position:-18px -459px}
.add-address .add-tit{color:#7DDBFD;font-size:16px;cursor:pointer;width:100%;text-align:center;height:135px;display:block;}
.new-addr{width:470px;border:1px solid #ccc;background-color:#fff;padding:5px 15px 15px;position:absolute;top:30px;z-index:999;display:none;left:-439px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
.add-ages .new-addr{width:502px;height:307px;}
.new-addr .new-addr-hd{position:relative;margin-bottom:10px;}
.new-addr-hd h3{margin:0;padding:0;}
.new-addr .new-addr-hd h3{border-bottom:1px dashed #767777;color:#7DDBFD;font-size:14px;font-weight:normal;line-height:36px;}
.new-addr .new-addr-hd .cancel{background-position:-25px -473px;display:block;width:19px;height:18px;position:absolute;top:8px;right:-5px;}
.new-addr .new-addr-bd li{font-size:14px;line-height:22px;height:auto;border:none;padding:0;width:100%;}
.new-addr .new-addr-bd .title{width:60px;text-align:left;color:#757777;float:left;}
.new-addr .new-addr-bd li label{cursor:default;}
.new-addr .new-addr-bd li p{padding-left:10px;overflow:hidden;}
.new-addr .new-addr-bd li select{width:98px;height:22px;line-height:22px;margin-right:25px;outline:none;font-size:14px;color:#757777;border:1px solid #ccc;}
.new-addr .new-addr-bd li select option{border-bottom:1px solid #ccc;padding:2px 0 2px 2px;}
.new-addr .new-addr-bd li .address-area{width:145px;margin:0;}
.new-addr .new-addr-bd li p .address-txt{width:386px;height:103px;font-size:12px;color:#757777;padding:5px;outline:none;resize:none;overflow:auto;border:1px solid #ccc;}
.new-addr .new-addr-bd li p input{border:1px solid #ccc;outline:none;height:20px;padding-left:5px;color:#757777;font-size:12px;}
.name-l{float:left;width:210px;}
.name-l input{width:128px;}
.name-r{float:right;width:50%;}
.new-addr .new-addr-bd .name-r .title{text-align:right;}
.name-r input{width:155px;}
.submitButton button{line-height:0;border-radius:2px;border:1px solid #7DDBFD;height:25px;width:86px;text-align:center;background-color:#fff;cursor:pointer;color:#7DDBFD;font-size:14px;float:right;-webkit-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;margin-right:2px;}
.submitButton button:hover{color:#fff;background-color:#7DDBFD;}
.new-addr .arrow{position:absolute;top:-8px;left:48%;background-position:-1px -476px;width:16px;z-index:1;height:8px;}
.address-info .new-addr{right:0;top:36px;z-index:2;}
.address-info .new-addr .arrow{left:426px;}
.address-info .new-addr .new-addr-hd .cancel{right:0;}
.add-address .empty{height:307px;}
.add-ages-r{position:absolute;width:60px;height:18px;right:15px;top:22px;}
.add-r-ico{width:19px;height:18px;display:block;float:right;}
.add-ages-r .rub{background-position:-47px -478px;margin-left:20px;}
.add-ages-r .txt{background-position:-47px -458px;}
.add-ages-r .new-addr{right:0;}
.add-ages-r .new-addr .arrow{left:440px;}
#first-address{display:block!important;position:relative!important;border:none!important;}
.oh{overflow:hidden;}
/* 支付方式 开始 */
.payment .mode{padding:20px 0 20px 25px;}
.payment .mode li{float:left;margin-right:60px;width:113px;height:113px;text-align:center;padding-top:6px;}
.payment .mode li a img{padding-top:7px;}
.payment .mode li a span{text-align:center;display:block;font-size:14px;margin-top:8px;color:#757777;}
.payment .mode .wy{position:relative;}
.payment .mode .changecolor:hover{color:#FDD17D;}
.payment .time .sent-time{color:#373737;font-weight:bold;font-size:16px;margin-right:40px;}
/* 支付方式 结束 */
/* 配送时间 开始 */
.time_choose{padding-left:25px;}
.time_choose a{float:left;border:1px solid #ccc;border-radius:2px;padding:11px 1px;text-align:center;color:#777;margin-right:25px;width:110px;}
.time_choose a.choosed{background:url("../images/address-choosed20x20.png") no-repeat scroll right bottom;border-width:2px;padding:10px 0;}
.time_choose a.choosed,.time_choose a:hover{border-color:#56d5fc;color:#56d5fc;}
.time_choose a p{font-size:15px;font-weight:bold;}
.time_choose a span{font-size:14px;}
.time .color-warning{padding:20px 0 0 25px;font-size:15px;}
/* 配送时间 结束 */
/* confirm begin */
.confirm .shop-cart-goods .shop-header{height:30px;background-color:#eaeaea;line-height:30px;}
.confirm .shop-cart-goods th{font-size:14px;color:#373737;}
.confirm .shop-cart-goods .col-1{width:662px;}
.confirm .shop-cart-goods .col-2{width:136px;}
.confirm .shop-cart-goods .col-3{width:218px;}
.confirm .shop-cart-goods .col-4{width:122px;}
.confirm .shop-cart-goods .col{color:#333;padding:10px 0;border-bottom:1px dashed #dfdfdf;}
.confirm .shop-cart-goods .g-pic{width:80px;padding-right:15px;float:left;}
.confirm .shop-cart-goods .g-pic img{width:80px;height:80px;}
.confirm .shop-cart-goods .g-info{font-size:14px;color:#818181;width:282px;height:38px;overflow:hidden;text-overflow:ellipsis;}
.confirm .shop-cart-goods .g-info .g-name a{color:#373737;}
.confirm .shop-cart-goods .g-type span{display:block;color:#CBCBCB;}
.confirm .shop-cart-goods .item-row .col-2{color:#373737;font-size:14px;font-weight:700;text-align:center;}
.confirm .shop-cart-goods .item-row .col-3{color:#373737;font-size:16px;text-align:center;}
.confirm .shop-cart-goods .item-row .col-4{color:#7cdff6;font-size:14px;font-weight:700;text-align:center;}
.cheaper-title{font-size:14px;color:#373737;width:635px;display:block;float:left;height:26px;}
.cheaper-money{color:#373737;font-size:14px;font-weight:700;text-align:center;float:left;width:136px;display:none;}
.cheaper-num{color:#373737;font-size:16px;text-align:center;float:left;width:218px;display:none;}
.cheaper-btn,.change-c{width:70px;height:24px;display:block;border:1px solid #31C6A9;text-align:center;line-height:24px;border-radius:5px;background-color:#fff;color:#31C6A9;float:right;}
.btn-current{color:#fff!important;background-color:#31C6A9!important;}
.c-current{background-color:#9E8F70!important;color:#fff!important;}
.title-current{color:#31C6A9!important;}
.fp-current{background-color:#1B9B82!important;}
.btn-cheaper{color:#fff;background-color:#31C6A9;}
.title-cheaper{color:#31C6A9;}
.confirm .shop-cart-box-ft{padding-top:22px;}
.cheap-list{padding-left:27px;}
.confirm .shop-cart-box-ft .cheap-buy .item-color{font-size:14px;color:#373737;height:16px;line-height:16px;}
.confirm .shop-cart-box-ft .cheap-buy em{font-style:normal;height:16px;line-height:16px;color:#767777;}
.confirm .shop-cart-box-ft .cheap-buy .item{position:relative;height:26px;line-height:26px;margin-bottom:13px;}
.confirm .shop-cart-box-ft .cheap-buy .item .tic{position:absolute;left:0;bottom:0;}
.confirm .shop-cart-box-ft .cheap-buy .item .tic-f{left:4px;}
.item-c .voucher{float:left;color:#9E8F70;}
.item-c .voucher-info{float:left;width:212px;height:23px;border:1px solid #D0D0D0;border-radius:4px;font-size:12px;line-height:23px;padding-left:10px;color:#757777;outline:none;}
/* 开具发票 开始 */
.invoice-box{margin:0 0 0 25px;position:relative;}
.invoice-box *{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.invoice-box input{height:25px;margin-right:5px;}
.invoice-hide-box{display:none;}
.invoice-box .fp{display:block;border-radius:5px;background-color:#31C6A9;color:#fff;float:left;font-size:16px;padding:5px 20px;border:1px solid #31C6A9;}
.invoice-box .fp:hover{background-color:#1B9B82;}
.item-c .change-c{border:1px solid #9E8F70;color:#9E8F70;}
.item-c .change-c:hover{background-color:#9E8F70;color:#fff;}
.invoice-box .getfp{position:absolute;top:50px;display:none;left:0;}
.invoice-box .getfp-box{width:476px;border:1px solid #32c7a9;background-color:#fff;font-size:14px;}
.getfp-box ul{padding:10px;}
.getfp-box li{line-height:26px;width:100%;margin-bottom:5px;}
.invoice-box .getfp-box li span{color:#868787;margin-right:5px;}
.getfp-box label{margin-right:30px;font-size:15px;min-width:45px;}
.tit{width:374px;border:1px solid #ccc;outline:none;padding-left:18px;color:#777;font-size:12px;}
.invoice-btn{font-size:15px;color:#7edcfe;border:1px solid #7edcfe;padding:0px 20px;margin-left:73px;}
.invoice-btn:hover{color:#32c7a9;border-color:#32c7a9;}
.item-c{position:relative;}
.gbb-tip .gt-info{float:left;display:none;position:absolute;bottom:-30px;left:0;}
.getfp-box p{margin-left:72px;}
.invoice-hide-box-open{background:#fff!important;color:#31C6A9!important;}
/* 开具发票 结束 */
/* 优惠券等折扣 弹出框 开始 */
#discount{float:left;margin-top:20px;font-size:14px;width:100%;}
#discount *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
#discount .discount-wrap{float:left;width:100%;margin-bottom:12px;}
#discount .discount-wrap .discount-btn{border:1px solid #32c7a9;border-radius:4px;color:#32c7a9;float:left;padding:4px 0;text-align:center;width:250px;-webkit-transition:all 0.25s ease-out 0s;-moz-transition:all 0.25s ease-out 0s;-o-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;margin-right:100%;}
#discount .discount-wrap .discount-btn:hover{background:#32c7a9;color:#fff;}
.discount-btn-current{background:#32c7a9;color:#fff!important;}
.coupon .discount-btn-current{background:#9f8e66;}
.discount-box{width:100%;border:1px solid #32c7a9;padding:15px 15px 10px 15px;float:left;margin-top:8px;background:#edfffb;border-radius:2px;display:none;}
.discount-box label{font-size:13px;color:#767777;float:left;line-height:28px;font-weight:bold;color:#000;margin-right:10px;}
.discount-box-btn{float:left;padding:0px 20px;border-radius:4px;color:#fff;margin-right:20px;cursor:pointer;height:28px;line-height:26px;}
.discount-box-btn:hover{opacity:0.8;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);color:#fff;}
.discount-box input{font-size:12px;color:#555;float:left;width:425px;height:28px;line-height:28px;border:1px solid #ccc;padding:4px;*line-height:20px;*height:20px;}
#discount .small_input{width:80px;}
.discount-box input:focus{border-color:#32c7a9!important;}
.discount-box span{font-size:13px;float:left;line-height:28px;}
.discount-box-btn-wrap{float:left;margin-top:15px;}
.discount-box-btn-wrap .cancel{background-color:#ccc;}
.discount-box-btn-wrap .confirm{background-color:#32c7a9;}
.discount-box-tit{font-size:14px!important;width:100%;text-align:center;margin:10px 0!important;}
#discount .coupon .discount-btn{color:#9f8e66;border-color:#9f8e66;}
#discount .coupon .discount-btn:hover{background-color:#9f8e66!important;}
#discount .coupon .discount-box{border-color:#9f8e66;}
#discount .coupon .discount-box input:focus{border-color:#9f8e66!important;}
#discount .coupon .confirm{background-color:#9f8e66;}
.coupon-error{display:none;}
.discount-box-line{width:100%;float:left;border-bottom:1px dashed #32c7a9;}
.discount-input-group{margin-bottom:15px;}
#coupon label{color:#9f8e66;font-weight:bold;line-height:28px;margin-right:10px;}
#coupon input{border:1px solid #9f8e66;color:#9f8e66;height:28px;padding:4px;width:250px;}
#coupon input:focus{border-color:#32c7a9!important;}
#coupon .coupon_error{color:#f40;text-align:right;padding-right:16.7%;display:none;}
#coupon .discount-input-group{margin-bottom:2px;}
.cards_discount .coupon-error{line-height:28px;margin-left:10px;}
.card_ye_message{display:none;}
i{font-style:normal;}
b{font-weight:500;}
.color_red{color:#f40;}
.color_black{color:#333;}
/* 优惠券等折扣 弹出框 结束 */
/* 应付金额 结果板块 开始 */
.shop-cart-sesult{border:1px solid #9f8e66;padding:10px 20px;margin-top:40px;}
.shop-cart-sesult,.shop-cart-sesult *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.shop-cart-action .money-list{float:right;}
.shop-cart-action .total-price{float:right;font-size:22px;color:#7cdff6;font-style:normal;font-weight:bold;}
.shop-cart-action .total-price span{font-size:14px;font-weight:bold;color:#373737;}
.shop-cart-action .total-price i{color:#7cdff6;font-style:normal;font-weight:bold;}
.btn input{border:none!important;cursor:pointer;}
.btn input:hover{opacity:0.8;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}
.btn .btn-info{border-radius:5px;color:#fff;font-size:16px;font-weight:bold;background-color:#7cdff6;padding:0 20px;line-height:35px;text-align:center;margin-left:40px;display:inline-block;border:1px solid #7cdff6;}
.btn .btn-back{background-color:#CBCBCB;font-weight:normal;border:1px solid #CBCBCB;}
.shop-cart-sesult-p{line-height:26px;}
/* 应付金额 结果板块 结束 */
#per,#com{vertical-align:middle;}
.hdfk{padding-top:5px;}
.price-panel{text-align:right;margin-right:34px;}
.figure{font-size:13px;color:#757777;line-height:20px;}
.figure-all{width:100px;display:inline-block;}
.figure-all .num{color:#42A18E;}
.confirm .btn:hover{border:0;}
.price{margin-top:20px;}
.message span{vertical-align:top;font-size:13px;color:#555;width:100%;float:left;margin-bottom:5px;}
#message{width:1118px;border:1px solid #9f8e66;height:68px;background-color:#fff;color:#777;font-size:12px;padding:10px;resize:none;outline:none;border-radius:2px;}
.message{padding:10px 0;}
/* 支付弹出框 */
.pop-pay{width:685px;height:264px;border:1px solid #DBDBDB;position:fixed;top:40%;margin-top:-132px;background-color:#fff;left:50%;margin-left:-342px;display:none;}
.pop-pay h5{font-size:18px;color:#373737;margin:8px 0 0 40px;}
.pp-wrap{margin:44px 0 0 24px;overflow:visible;}
.pp-wrap i{float:left;width:101px;height:101px;background:url(../images/zhifu.png) no-repeat;}
.pp-wrap .pp-r{float:left;margin:26px 0 0 64px;}
.pp-wrap .pp-r p{font-size:16px;color:#373737;}
.pp-wrap .pp-r .btn{float:none;}
.pp-wrap .pp-r .btn button{width:124px;height:35px;text-align:center;color:#fff;font-size:16px;border-radius:3px;}
.pp-wrap .pp-r .btn button.btn-no{background-color:#CBCBCB;}
.pp-wrap .pp-r .btn button.btn-ok{background-color:#7BDFF5;font-weight:700;margin-left:55px;}
/* 付款方式交互效果css */
.mode .checked{background:url(../images/checked.png) no-repeat;background-size:113px;}
.mode li a{display:inline-block;}
.moren{float:left;margin-top:50px;margin-right:10px;}
#add2{float:left;margin:50px 15px 0 0;}