@charset "UTF-8";
/**
* 找回密码-确认新密码页面 CSS
* @authors Your Name (you@example.org)
* @date    2015-01-09 15:18:55
* @version $Id$
*/
/* css begin */
body,div,input,form{padding:0;margin:0;}
.container{width:392px;margin:0 auto;}
.logo img{margin:80px auto 132px;}
.list{margin-top:52px;}
.list h3{font-size:16px;padding-bottom:25px;text-align:center;}
.list .text{width:370px;height:16px;border:1px solid #CDCDCD;padding:10px;font-size:16px;color:#999;}
.list .text:hover{border-color:#7BDFF5;}
.list-item{height:37px;position:relative;}
.list-item-btn{width:160px;height:36px;background-color:#fff;border:1px solid #7BDFF5;border-radius:4px;color:#7BDFF5;font-size:16px;position:absolute;left:50%;margin-left:-81px;cursor:pointer;text-align:center;-webkit-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;}
.list-item-btn:hover{background-color:#7BDFF5;color:#fff;}
.popup{width:339px;height:223px;border:1px solid #D9D9D9;position:absolute;left:50%;margin-left:-170px;bottom:8px;display:none;text-align:center;background-color:#fff;}
.popup i.bee{width:50px;height:52px;position:absolute;top:59px;right:79px;}
.popup .tips{font-size:14px;color:#393939;display:block;margin:105px auto 20px;}
.popup .list-item-btn{text-decoration:none;}
.list-wrap{margin-bottom:20px;}
.n-pass-wrap{height:60px;}