<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fushionbaby.log.dao.LogBizExceptionDao" >
  <resultMap id="BaseResultMap" type="LogBizException" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="scope" property="scope" />
    <result column="class_name" property="className" />
    <result column="method_name" property="methodName" />
    <result column="create_time" property="createTime" />
    <result column="memo" property="memo" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, scope, class_name, method_name, create_time, memo
  </sql>
  
  <insert id="add" parameterType="LogBizException" >
    insert into t_log_biz_exception (id, name, scope, 
      class_name, method_name, create_time, 
      memo)
    values (#{id}, #{name}, #{scope}, 
      #{className}, #{methodName}, #{createTime}, 
      #{memo})
  </insert>
 
</mapper>