<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fushionbaby.statistics.dao.StatisticsSkuSellDao">
	<resultMap id="StatisticsSkuSellResultMap" type="statisticsSkuSell">
		<result column="sku_code" property="skuCode" />
		<result column="sku_name" property="skuName" />
		<result column="quantity" property="quantity" />
		<result column="createTime" property="createTime" />
	</resultMap>
	<!-- 分页条件查询 -->
	<select id="getListPage" resultType="list" resultMap="StatisticsSkuSellResultMap" parameterType="Map" >
		select a.sku_code,a.sku_name,count(a.quantity) quantity 
		 from t_order_line a 
		<where>
	  		  <if test="skuCode != null and skuCode != ''">
		       and a.sku_code = #{skuCode}
		      </if>
		      <if test="skuName != null and skuName != ''">
		        and a.sku_name like  "%"#{skuName}"%" 
		      </if>
		      <if test="orderCode != null and  orderCode!= ''">
		        and a.order_code = #{orderCode}
		      </if>
		      <if test="createTimeFrom != null and createTimeFrom !=''">
		    	<![CDATA[
					and DATE_FORMAT(a.create_time,'%Y-%m-%d') >= DATE_FORMAT(#{createTimeFrom}, '%Y-%m-%d')
				]]>
			  </if>
			  <if test="createTimeTo != null and createTimeTo != ''">
			    	<![CDATA[
						and DATE_FORMAT(a.create_time,'%Y-%m-%d') <= DATE_FORMAT(#{createTimeTo}, '%Y-%m-%d')
					]]>
			  </if>
	  	</where>
	  	 group by a.sku_code 
		<if test="start!=null and limit!=null">
			limit #{start},#{limit}
		</if>
	</select>
	
	<!-- 查询该表的总数  -->
	<select id="getTotal" parameterType="Map" resultType="java.lang.Integer">
	select count(id) from (
		select a.sku_code 
    	from t_order_line a 
		<where>
			<if test="skuCode != null and skuCode != ''">
		       and a.sku_code = #{skuCode}
		      </if>
		      <if test="skuName != null and skuName != ''">
		        and a.sku_name like  "%"#{skuName}"%" 
		      </if>
		      <if test="orderCode != null and  orderCode!= ''">
		        and a.order_code = #{orderCode}
		      </if>
		      <if test="createTimeFrom != null and createTimeFrom !=''">
		    	<![CDATA[
					and DATE_FORMAT(a.create_time,'%Y-%m-%d') >= DATE_FORMAT(#{createTimeFrom}, '%Y-%m-%d')
				]]>
			  </if>
			  <if test="createTimeTo != null and createTimeTo != ''">
			    	<![CDATA[
						and DATE_FORMAT(a.create_time,'%Y-%m-%d') <= DATE_FORMAT(#{createTimeTo}, '%Y-%m-%d')
					]]>
			  </if>
	  	</where>
	  	group by a.sku_code ) as b
	</select>
</mapper>