@charset "utf-8";
/*!
 * screen.scss ------------ 站点scss文件
 *
 * variables -------------- 变量集中存储文件
 *
 * mixin ------------------ mixin集中存储文件
 */
@import "variables", "mixin";
html {font-size: 14px;}
// 通用类
.oh {overflow: hidden;}
.color-black{color:#222222;}
.color-white{color:#FFFFFF;}
.color-silver{color:#F1F1F1;}
.color-silver-dark{color:#777777;}
.color-grey {color:#bdbdbd;}
.color-grey-dark {color:#aaa;}
.color-win8{color:#00CCFF;}
.color-teal{color:#00A0B1;}
.color-blue{color:#2E8DEF;}
.color-purple{color:#A700AE;}
.color-purple-dark{color:#643EBF;}
.color-red,.error{color:#d9534f;}
.color-orange{color:#DC572E;}
.color-green{color:#00A600;}
.color-sky{color:#0A5BC4;}

.size14 {font-size:14px;}
.size18 {font-size:18px;}

.m0 {margin:0 !important;}
.mT0 {margin-top:0;}
.mT5 {margin-top:5px;}
.mT10 {margin-top:10px !important;}
.mT15 {margin-top:15px;}
.mT20 {margin-top:20px;}
.mT30 {margin-top:30px;}
.mT40 {margin-top:40px;}
.mT50 {margin-top:50px;}

.mB5 {margin-bottom:5px;}
.mB10 {margin-bottom:10px;}
.mB15 {margin-bottom:15px;}
.mB20 {margin-bottom:20px;}
.mB30 {margin-bottom:30px;}

.mR40 {margin-right:40px;}

.p0 {padding:0 !important;}
.pT0 {padding-top:0 !important;}
.pB0 {padding-bottom:0 !important;}

* {outline:none !important}
.brand-logo {
    img {margin-top:10px;}
}
.button-collapse {color:#fff;}
.page-footer {border-top:1px solid #666;background-color: #fff !important;padding-top: 0 !important;margin-top:100px !important;color:#555 !important;
    .btn {border:1px solid #666;border-radius:45px;background: #fff;color:#666 !important;box-shadow: none;margin-top: 20px;line-height: 32px;
        &:hover {border-color:$color-theme !important;color:$color-theme !important;}
    }
    p {opacity: 0.8;}
    h5 {font-size:16px;}
    .footer-copyright {background:$color-theme !important;}
}

h4 {font-size:1.7rem;}
.supports {
    .card {min-height:133px;}
}

.fixed-action-btn {
    ul {margin-bottom:0;}
}
.textI {text-indent:2em;}
#introduce blockquote {color:$color-theme;}
blockquote h5 {font-size:17px !important;}
blockquote h6 {font-size:16px !important;}
blockquote {border-color:$color-theme;}
#contact {min-height:550px;}
p img {max-width: 100%;}

.scrollspy-ul {position: fixed;top: 200px;}
.icon-apple {background: url(../images/icon-apple.png) no-repeat 6px 5px;background-size: 24px;}
.icon-wei-chart {background: url(../images/icon-wei-chart.png) no-repeat center center;background-size: 28px;}
.icon-apple,.icon-wei-chart {width: 100%;height: 100%;}
.btn-floating {opacity: 1 !important;-ms-transform: scaleY(1) scaleX(1) translateY(0) !important;-webkit-transform: scaleY(1) scaleX(1) translateY(0) !important;transform: scaleY(1) scaleX(1) translateY(0) !important;position: relative;overflow: visible;}
.btn-floating img {position: absolute;width: 80px;height: 80px;left: -90px;top:-20px;-ms-transition: all 0.3s ease 0s;webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;opacity: 0;-webkit-transform: scaleY(0.4) scaleX(0.4);transform: scaleY(0.4) scaleX(0.4);}
.btn-floating:hover img {opacity: 1;-ms-transform: scaleY(1) scaleX(1);-webkit-transform: scaleY(1) scaleX(1);transform: scaleY(1) scaleX(1);}
.ie9-box-wrap {display: none;width: 100%;height: 100%;position: fixed;left: 0;top: 0;background-color: rgba(0,0,0,0.6);z-index: 1000;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
    .ie9-box {border:1px solid #ccc;border-radius:4px;color:#f44336;font-size:20px;left:50%;margin:50px auto 50px -45%;padding:20px;position:fixed;text-align:center;width:90%;background:#fff;}
    .ie9-close {float: right;}
}
.ltie9 .ie9-box-wrap {display: block;}

#nav {height: auto;padding: 10px 0;background:$color-theme;border-bottom:1px solid $color-theme-3;box-shadow: none;
    .row {margin-bottom: 0;}
    li {margin:0 8px;background:none !important;}
    li a {color:#fff;-webkit-transition: all 0.2s ease-out 0s;-ms-transition: all 0.2s ease-out 0s;-moz-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;font-size: 15px;position: relative;}
    li a span {position: absolute;top:8px;left: 0;width: 100%;height: 8px;background-color:rgba(0,0,0,0.1);opacity: 0;-ms-transition: all 0.25s ease-out 0s;-webkit-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
    li a:hover {background-color: rgba(0,0,0,0.1);color:#e5e5e5;}
    li a:hover span {top:-8px;opacity: 1;background-color: rgba(0,0,0,0.2) ;}
    li .active {background-color: rgba(0,0,0,0.1);color:#e5e5e5;}
    li .active span {top:-8px;opacity: 1;background-color: rgba(0,0,0,0.2) ;}
    .menu-container {padding:0;}
    .menu {margin-top:13px;}
    .brand-logo {display: none;left: 50%;transform: translateX(-50%);}
    .nav-logo {margin-left: 23px;}
}
.side-nav {padding-top:20px;}
.side-nav li {margin-bottom:10px !important;}
.side-nav a,.side-nav i {color:#555 !important;}
html {overflow-x:hidden;font-family: "Microsoft YaHei";}
.code-box-wrap {
    .code-box {width: 150px;height: 150px;display: block;margin:0 auto;background:$color-theme-2;border-radius: 4px;position: relative;
        img {margin:0 auto;display: block;}
        p {color: #fff;text-align:center;width: 100%;display: inline-block;}
        .hide-img {width: 64px;position: absolute;left: 50%;margin-left: -32px;top: 50%;margin-top: -32px;opacity: 0;}
    }
    .pc {background-position: 0 0;}
    .mobile {background-position: 0 0;}
    .ios {background-position: 0 0;}
    .android {background-position: 0 0;}
}

.question a {color: rgba(0, 0, 0, 0.8);line-height: 28px;}
.question a:hover {text-decoration: underline;color:$color-theme;}
.contact-ul li {line-height: 28px;}
.traditional {
    .card {background-color: $color-theme;}
}
.promo {color:rgba(0, 0, 0, 0.8)}
.promo i {color: $color-theme;}
.cursorD {cursor:default;}
#map {box-sizing:padding-box;}
#map * {box-sizing:padding-box;}
#BMapLib_SearchInfoWindow0 {box-sizing:content-box;}
#BMapLib_SearchInfoWindow0 * {box-sizing:content-box;}
#map {border:1px solid #ccc;border-radius:4px;
    td {padding:0;}
    input {margin-bottom:0;border: 1px solid #a5acb2;height: 22px;line-height: 22px;
        &:focus {border-bottom: 1px solid #a5acb2;box-shadow:none;}
    }
    .iw_bt {border: 0 none;height: 26px;line-height: 18px;}
}
#pnl_phone_left {
    th {padding:2px;}
    td {padding:2px;}
    input {width: 90px;}
    #BMapLib_is_remember_phone {position: relative;width: auto;margin:0px 5px 0;height:auto;}
}
.BMapLabel {color:#f00;padding:2px 6px !important}
#honor .card {overflow: visible;float: left;}
.a-hover:hover {text-decoration: underline;}
.btn-p {border:1px solid #666;color:#666;border-radius: 45px;width: 50%;display: inline-block;padding:10px;font-size: 18px;min-width: 180px;}
.w100 {width:100%;}

/*project.html*/
.project {position: relative;}
.slider-wrap {position: relative;}
#slider { position: relative; overflow: hidden; padding:0 2%;}
#slider ul {width: 200%;overflow: hidden;position: relative;
    @media (max-width: 980px) {width: 100%;left:0;}
}
#slider li { list-style: none; }
#slider li .slider-a { cursor: pointer;;float:left;width: 12.65%;text-align: center;color:#666;margin:0 2%;-webkit-transition:all 0.25s ease-out 0s;-moz-transition:all 0.25s ease-out 0s;-ms-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;
    @media (max-width: 980px) {width: 98%;cursor: default;}
    .detail-box {padding: 20px 30px;cursor: default;display:none;
        @media (max-width: 980px) {display:block;}
    }
}
#slider li .slider-a h5 {color:#555;font-size: 18px;}
#slider li .slider-a h1 {font-family: "fzltcxhjt";}
.dot {text-align: center;}
.dot a {width: 13px;height: 13px;background: #ccc;border-radius: 100%;display: inline-block;margin:0 8px;-webkit-transition:all 0.25s ease 0s;-moz-transition:all 0.25s ease 0s;-ms-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s;
    @media (max-width: 980px) {background: $color-theme-3;}
}
.dot a.active {background: $color-theme-3;}
.slider-tit {font-size: 26px;font-family: "fzltcxhjt";color:#000;margin:10px 0;}
@font-face {
    font-family: "fzltcxhjt";
    src: url("../font/fzltcxhjt.eot"); /* IE9 */
    src: url("../font/fzltcxhjt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../font/fzltcxhjt.woff") format("woff"), /* chrome、firefox */
    url("../font/fzltcxhjt.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../font/fzltcxhjt.svg#fzltcxhjt") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
.slider-arrow {width: 40px;height: 30px;background: url(../images/slider.png) no-repeat;position: absolute;top:50%;margin-top: -15px;-webkit-transition:all 0.25s ease 0s;-moz-transition:all 0.25s ease 0s;-ms-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s;
    @media (max-width: 980px) {display:none;}
}
.prev {left: 0;}
.prev:hover {background-position: -40px 0}
.next {right: 0;background-position: -120px 0}
.next:hover {background-position: -78px 0}
.prev.disable {background-position: 0 0 !important;}
.next.disable {background-position: -120px 0 !important;}
.pro-btn {width: 25%;height: 44px;border:1px solid #555;overflow: hidden;display: inline-block;text-align:center;color:#555;position: relative;min-width: 180px;}
.pro-btn:hover {border-color:$color_theme-3;color:$color_theme-3;}
.transition {-webkit-transition:all 0.25s ease-out 0s;-moz-transition:all 0.25s ease-out 0s;-ms-transition:all 0.25s ease-out 0s;transition:all 0.25s ease-out 0s;}
.scene {margin:0;}
#g1 {right: 0;bottom:0;position: absolute;
    @media (max-width: 1280px) {width: 200px;}
    @media (max-width: 768px) {display:none;}
}
.slider-detail {position: absolute;width: 87%;z-index: 999;left: 50%;margin-left:-43.5%;top:92%;
    @media (max-width: 768px) {display:none;}
}
.detail-box {z-index: 999;background:#fff;border:1px solid #999;border-radius: 2px;color:#666;position: relative;margin:0 auto;}
.detail-box h5 {color:#fff !important;background: $color-theme;display: inline-block;font-size: 18px !important;padding:2px 10px;position: relative;
    span {width: 14px;height: 14px;background: url(../images/tit.png) no-repeat;position: absolute;left: -20px;top:8px;}
}
.detail-box h6 {color:$color-theme;}
.slider-a .detail-box {text-align: left;}
/*about.html*/
.about p {color: #666;}
.collapsible-header {font-size: 18px;color: $color-theme;}
.collapsible-header i {width: 14px;height: 14px;background: url(../images/tit.png) no-repeat;float: left;margin-top: 15px;margin-left: 3px;}
.title-1 {font-size: 18px;color: $color-theme;}
.title-1 i {width: 14px;height: 14px;background: url(../images/tit.png) no-repeat;float: left;margin-top: 7px;margin-right: 10px;}
.collapsible-body {padding:20px;color: #666;font-size: 14px;}
.collapsible-body p {padding: 10px 0;}
.collapsible-body h5 {font-size: 16px;color: #555;}
.collapsible-body h5 i {width: 14px;height: 14px;background: url(../images/tit.png) no-repeat;float: left;margin-top: 6px;margin-right: 10px;}
.collapsible {box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.title i {width: 14px;height: 14px;background: url(../images/tit.png) no-repeat;float: left;margin-top: 6px;margin-right: 10px;}
.title {color: #555;font-size: 16px;margin-bottom: 30px;}
.about {position: relative;}
#g2 {left: 0;bottom:350px;position: absolute;width: 240px;
    @media (max-width: 1280px) {width: 160px;}
    @media (max-width: 768px) {display:none;}
}
#company {padding-bottom:100px;
    @media (max-width: 768px) {padding-left: 6%;}
}
.scale {-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.slider-detail .detail-box {height:400px;overflow: hidden;position: absolute;background:#fff;opacity: 0;visibility: hidden;margin-top: 20%;}
.swiper-container {height:100%;padding:20px 30px;}
.swiper-slide {width:100%;cursor: all-scroll;position: relative}
.swiper-scrollbar {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;height: 100%;position: absolute;right: 3px;top: 0;width: 5px;}
.mdi-content-clear {position: absolute;right:0;top:0;font-size: 20px;cursor:pointer;}
.mdi-content-clear:hover {color:$color-theme;}

blockquote a {color:#c13e60;-webkit-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
blockquote .more {float: right;}
.listbox b a {color:#c13e60;}
.listbox li {border-top:1px dashed #ccc;padding-top: 15px;}
.listbox .title {margin-left: 5px;color:#c13e60;}
.listbox .title:hover {text-decoration: underline;}
.listbox .info {font-size:12px;width: 100%;display:inline-block;margin-top: 10px;color:#999;}
.intro {margin:5px 0 10px 0;}
.dede_pages {text-align:center;border-top:1px dashed #ccc;}
.dede_pages select {display:block;width: auto !important;height: 30px;border:1px solid #ccc;}
.pagelist {display:inline-block;}
.pagelist li {float: left;min-width: 50px;height: 30px;margin: 0 2px;text-align:center;line-height:28px;}
.pagelist li a:hover {border-color:#c13e60;color:#c13e60;}
.pagelist li a {float: left;width: 100%;height: 100%;color:#555;border-radius:2px;border:1px solid #ccc;-webkit-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
.pagelist .thisclass {border-color:#c13e60;}
.pagelist .thisclass a {color:#c13e60;}
.pageinfo strong {margin: 0 3px;}
.collapsible .info {padding: 20px;color:#999;}
.handle {}
.handle li {margin: 5px 0;}
.handle li a {color:#c13e60;}
.handle li a:hover {text-decoration: underline;}
.news-wrap img {width: 100%;}
.news-wrap ul {width: 100%;}
.news-wrap li {border-bottom:1px solid #eee;margin: 5px 0;padding-bottom: 5px;}
.news-wrap li span {float: right;color:#999;}
.news-wrap .more {font-size:14px;color:#666;float: right;}
.news-wrap .more:hover {color:#c13e60;}
.news-img div {width: 30%;float: left;position: relative;overflow: hidden;}
.news-img div span {width: 100%;height:44px;position: absolute;bottom: -45px;left: 0;background:rgba(0,0,0,0.5);color:#fff;padding: 10px;transition: all 0.25s ease-out 0s;}
.news-img div:hover span {bottom: 0;}
@media (max-width: 767px) {.news-img div span{display:none;}}
