<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aladingshop.store.dao.StoreCellDao" >

  <resultMap id="StoreCellResultMap" type="storeCell" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="code" property="code" />
    <result column="country_code" property="countryCode" />
    <result column="is_disable" property="isDisable" />
    <result column="show_order" property="showOrder" />
    <result column="create_time" property="createTime" />
  </resultMap>
  
  
  <insert id="add" parameterType="storeCell"  useGeneratedKeys="true" keyProperty="id">
  
  	insert into 
  		t_store_cell(id,name,code,country_code,is_disable,show_order,create_time)
  	values
  		(#{id},#{name},#{code},#{countryCode},#{isDisable},#{showOrder},now())
  </insert>
  
  <update id="update" parameterType="storeCell">
	  	update t_store_cell 
	  	<set>
	  		name =#{name},
	  		code=#{code},
	  		country_code=#{countryCode},
	  		is_disable=#{isDisable},
	  		show_order=#{showOrder}
	  	</set>
	  	<where>
	  		id=#{id}
	  	</where>
  </update>
  
  <delete id="deleteById" parameterType="java.lang.Long">
  	delete from t_store_cell where id = #{id}
  </delete>
  
  
  <select id="findById" parameterType="java.lang.Long"  resultMap="StoreCellResultMap">
  	select 
         id,name,code,country_code,is_disable,show_order,create_time
    from 
    	t_store_cell
    where
    	id=#{id}
  
  </select>
  
  
  <select id="queryByCondition" parameterType="StoreCellQueryCondition" resultType="list" resultMap="StoreCellResultMap">
    select 
          id,name,code,country_code,is_disable,show_order,create_time
    from 
    	t_store_cell
    <where>
    	
    	<if test="countryCode!=null and countryCode!=''">
    		AND country_code = #{countryCode} 
    	</if>
    	<if test="code!=null and code!=''">
    		AND code = #{code}
    	</if>
    	<if test="isDisable!=null and isDisable!=''">
			AND is_disable = #{isDisable}		
    	</if>
    	<if test="name!=null and name!=''">
    		AND name like "%"#{name}"%"
    	</if>
    </where>
    order by show_order ASC
		<if test="start !=null and start>-1">
			LIMIT #{start}
		</if>
		<if test="start !=null and start>-1 and limit !=null and limit !=''">
			,#{limit}
		</if>
  </select>  
  <select id="getList" parameterType="Map" resultType="list" resultMap="StoreCellResultMap">
    select 
          id,name,code,country_code,is_disable,show_order,create_time
    from 
    	t_store_cell
    	<where>
	    	<if test="countryCode!=null and countryCode!=''">
	    		AND country_code = #{countryCode} 
	    	</if>
	    	<if test="countryCodes!=null and countryCodes!=''">
	    		AND country_code in (${countryCodes})
	    	</if>
	    	<if test="code!=null and code!=''">
	    		AND code = #{code}
	    	</if>
	    	<if test="isDisable!=null and isDisable!=''">
				AND is_disable = #{isDisable}		
	    	</if>
	    	<if test="name!=null and name!=''">
	    		AND name like "%"#{name}"%"
	    	</if>
    	</where>
    	order by id desc LIMIT #{start},#{limit} 
    </select>
    
    
   <select id="getTotal" parameterType="Map" resultType="java.lang.Integer">
    select 
         count(1)
    from 
    	t_store_cell
    <where>	
    	<if test="countryCode!=null and countryCode!=''">
    		AND country_code = #{countryCode} 
    	</if>
    	<if test="countryCodes!=null and countryCodes!=''">
    		AND country_code in (${countryCodes})
    	</if>
    	<if test="code!=null and code!=''">
    		AND code = #{code}
    	</if>
    	<if test="isDisable!=null and isDisable!=''">
			AND is_disable = #{isDisable}		
    	</if>
    	<if test="name!=null and name!=''">
    		AND name like "%"#{name}"%"
    	</if>
    </where>	
    </select>
  
  
  
</mapper>