<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fushionbaby.sysactivity.dao.SysActivityArticleSkuDao">
	<resultMap id="SysActivityArticleSkuResultMap" type="sysActivityArticleSku">
		 <id column="id" property="id" />
		 <result column="article_id" property="articleId" />
		 <result column="sku_id" property="skuId" />
	</resultMap>
	<insert id="add" parameterType="sysActivityArticleSku" >
		insert into t_sysactivity_article_sku
		(id, article_id, sku_id)
		values (#{id}, #{articleId}, #{skuId})
	</insert>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
		t_sysactivity_article_sku
		where id = #{id}
	</delete>
	
	<delete id="deleteByArticleId" parameterType="java.lang.Long">
		delete from
		t_sysactivity_article_sku
		where article_id = #{articleId}
	</delete>
	
	<update id="update" parameterType="sysActivityArticleSku">
		update t_sysactivity_article_sku
		set article_id = #{articleId},
		sku_id = #{skuId}
		where id = #{id}
	</update>
	<select id="findById" resultMap="SysActivityArticleSkuResultMap">
		<![CDATA[
			select
			id, article_id, sku_id
			from t_sysactivity_article_sku
			where id = #{id}
		]]>
	</select>
	<select id="findAll" resultMap="SysActivityArticleSkuResultMap">
		<![CDATA[
			select
			id, article_id, sku_id
			from t_sysactivity_article_sku
		]]>
	</select>
		<select id="listSkusByArticleId" resultMap="SysActivityArticleSkuResultMap" resultType="list" >
		<![CDATA[
			select  
			       sku_id		
			      from 
			        t_sysactivity_article_sku
			 where 
			       article_id=#{articleId}
		]]>
	</select>
	
	
	
</mapper>