<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>找回密码 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/base.css">
		<link rel="stylesheet"  href="css/back-password.css">
	</head>
	<body>
		<div class="content">
			<div class="password container">
				<div class="logo"><img src="images/logo.png" alt=""></div>
				<div class="list">
					<form action="">
						<h3>找回FushionBaby密码</h3>
						<input id="back_password" type="text" class="text" placeholder="请输入手机号码或者邮箱">
						<div id="show_back_password" class="error"><em>*</em><em id="check_back_password"></em></div>
						<div class="list-item">
							<input id="back_password_code" type="text" class="textshort" placeholder="请输入验证码">
							<input style="cursor: pointer;" type="button" onclick="getBackPassword(this);" class="code" value="获取验证码" />
							<div id="show_back_password_code" class="error"><em>*</em><em id="check_back_password_code"></em></div>
						</div>
						<div class="list-item">
							<input type="button" class="list-item-btn" onclick="nextStep();" value="下一步">
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../web-js/forget-password.js"></script>
	</body>
</html>