<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>品牌列表页</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"><!-- 浏览器标签图标 -->
		<link rel="stylesheet"  href="css/base.css">
		<link rel="stylesheet" href="css/toy-product-list.css">
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</head>
	<body>
		<!--[if IE 6]>
		<script src="js/iepng.js" type="text/javascript"></script>
		<script type="text/javascript">
		EvPNG.fix('div,ul,img,li,input,span,b,h1,h2,h3,h4,a');
		</script>
		<![endif]-->
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- toy begin -->
		<div class="toy container">
			<div class="toy-nav">
				<div class="toy-nav-l">
					<span>grobag Swaddle</span>
				</div>
				<ul class="toy-nav-r">
					<li>
						<span>排列顺序</span>
						<img src="images/dot.png" alt="">
						<a href="#">最新</a>
					</li>
					<li>
						<img src="images/sale.png" alt="">
						<a href="#">销量</a>
					</li>
					<li>
						<img src="images/price.png" alt="">
						<a href="#">价格</a>
						<a href="#" class="tip">
							<img src="images/top.png" alt="">
							<div class="tip-arrow">
								<span>从高到低</span>
								<img src="images/tip-arrow.png" alt="" class="arrow">
							</div>
						</a>
						<a href="#" class="tip">
							<img src="images/down.png" alt="">
							<div class="tip-arrow">
								<span>从低到高</span>
								<img src="images/tip-arrow.png" alt="" class="arrow">
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="toy-bd container">
				<ul class="toy-bd-list">
					<li class="toy-bd-item">
						<div class="toy-bd-column column-cur">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-1.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-2.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-3.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-4.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
					</li>
					<li class="toy-bd-item">
						<div class="toy-bd-column column-cur">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-1.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-2.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-3.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-4.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
					</li>
					<li class="toy-bd-item">
						<div class="toy-bd-column column-cur">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-1.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-2.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-3.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-4.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
					</li>
					<li class="toy-bd-item">
						<div class="toy-bd-column column-cur">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-1.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-2.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-3.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
						<div class="toy-bd-column">
							<span class="item-info">
							<span class="item-title">
							<a href="details.html">PLANdollhouse木质小屋</a>
							</span>
							<span class="item-price">
							&yen288
							<em>市场价:380元</em>
							</span>
							<span class="item-discount">
							折扣:7.8折
							</span>
							</span>
							<div class="item-thumb">
								<a href="details.html"><img src="images/toy-4.png" alt=""></a>
							</div>
							<span class="item-desc">
							<a href="details.html">
								宝宝可以发挥的想象力 创造力布置规划房间
							</a>
							</span>
							<img src="images/newg.png" alt="" class="tag">
						</div>
					</li>
				</ul>
				<div class="collect-page-wrap clearfix">
					<div class="collect-page">
						<span class="page-num">共<span>18</span>页</span>
						<a href="javascript:" class="page-arrow iconfont"></a>
						<a href="javascript:" class="page-list page-list-current">1</a>
						<a href="javascript:" class="page-list">2</a>
						<a href="javascript:" class="page-list">3</a>
						<a href="javascript:" class="page-arrow iconfont">&#xe604;</a>
					</div>
				</div>
			</div>
		</div>
		<!-- toy end -->
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->
	</body>
</html>