<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>商品组合优惠 - Fushionbaby</title>
		<script src="js/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/car.css">
		<link rel="stylesheet"  href="css/checkout-list.css">
	</head>
	<body id="car-group">
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部 替换公共ftl文件 -->
		<div class="site-header container" style="height:auto;">
			<div class="logo">
				<h1>
				<a href="/index/indexList.do">
					<img title="fushionbaby" alt="fushionbaby" src="images/logo.jpg">
				</a>
				</h1>
			</div>
			<div style="margin-bottom:40px;" class="site-header-r">
				<ul class="progress-t">
					<li>
						<span>我的购物车</span>
						<em></em>
					</li>
					<li style="background-color: rgb(203, 203, 203);">
						<span>确认订单并付款</span>
						<em class="progress-t-n"></em>
					</li>
					<li style="margin:0 0 0 6px;background-color:#CBCBCB">
						<span>完成订单</span>
						<em class="progress-t-n"></em>
					</li>
				</ul>
				<div class="progress progress-start"></div>
			</div>
		</div>
		<div class="car-main container">
			<form action="">
				<table class="order-table" id="content">
					<tbody>
						<tr class="title-list">
							<th class="t-title col1">组合商品</th>
							<th class="t-title col2">单价（元）</th>
							<th class="t-title col4">小计</th>
						</tr>
						<!-- 商品 开始 -->
						<tr class="order-con">
							<td>
								<div class="order-goods">
									<a href="javascript:void(0);">
										<div class="verticalAlign_car">
											<img src="images/car_r10_c5.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="order-tex">
									<p><a href="javascript:void(0);">650ml玻璃饮料瓶，防烫手，天然塑胶无毒无害,外出旅游用。</a></p>
									<div class="order-tex-bd">
										<div class="size">颜色：天蓝色</div>
										<div class="color">尺码：650ml</div>
									</div>
								</div>
							</td>
							<td class="con-list pri">&yen;<span>230</span>.00</td>
							<td class="con-list tot">&yen;<span>230</span>.00</td>
						</tr>
						<!-- 商品 结束 -->
						<!-- 商品 开始 -->
						<tr class="order-con">
							<td>
								<div class="order-goods">
									<a href="javascript:void(0);">
										<div class="verticalAlign_car">
											<img src="images/car_r10_c5.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="order-tex">
									<p><a href="javascript:void(0);">650ml玻璃饮料瓶，防烫手，天然塑胶无毒无害,外出旅游用。</a></p>
									<div class="order-tex-bd">
										<div class="size">颜色：天蓝色</div>
										<div class="color">尺码：650ml</div>
									</div>
								</div>
							</td>
							<td class="con-list pri">&yen;<span>230</span>.00</td>
							<td class="con-list tot">&yen;<span>230</span>.00</td>
						</tr>
						<!-- 商品 结束 -->
						<!-- 商品 开始 -->
						<tr class="order-con">
							<td>
								<div class="order-goods">
									<a href="javascript:void(0);">
										<div class="verticalAlign_car">
											<img src="images/car_r10_c5.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="order-tex">
									<p><a href="javascript:void(0);">650ml玻璃饮料瓶，防烫手，天然塑胶无毒无害,外出旅游用。</a></p>
									<div class="order-tex-bd">
										<div class="size">颜色：天蓝色</div>
										<div class="color">尺码：650ml</div>
									</div>
								</div>
							</td>
							<td class="con-list pri">&yen;<span>230</span>.00</td>
							<td class="con-list tot">&yen;<span>230</span>.00</td>
						</tr>
						<!-- 商品 结束 -->
					</tbody>
				</table>
				<div class="car-main-ft clearfix">
					<div class="cmf-r-wrap">
						<div class="shop-cart-action">
							<p class="color_red textR">组合产品优惠金额：- 30&ensp;</p>
							<p class="total-price">
							<span>应付总金额：</span>
							<i>560</i> 元
							</p>
						</div>
						<div class="btn-wrap clearfix">
							<a class="btn btn-r checked" href="checkout-list.html">去结算</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部 替换公共ftl文件-->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部 替换公共ftl文件-->

		<script type="text/javascript" src="js/base.js"></script>
	</body>
</html>