<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>亲子课程 - 母婴知识,资讯_宝贝讲堂_宝贝成长计划</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/children.css">
		<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- main begin -->
		<div class="main container">
			<div class="breadcrumb_nav">
				<a href="">会员增值</a>
				<i class="fa fa-angle-double-right"></i>
				<a href="">亲子活动</a>
			</div>
			<div class="main-bd fl">
				<div class="banner container" id="banner">
					<a href="par-chi-art.html">
						<img src="images/banner.gif" alt="圣诞快乐">
					</a>
				</div>
			</div>
			<div class="gray-line"></div>
			<div class="pic-list">
				<a href="par-chi-art.html">
					<img src="images/huwai_r8_c3.jpg" alt="">
					<!-- <div class="pic-info pic-desc">
								<p class="info-hd">开拓宝宝知识</p>
								<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
								<p class="info-bd">每个宝宝都是天使</p>
								<a href="javascript:" class="more more-desc">详细>>></a>
					</div> -->
				</a>
			</div>
			<div class="dash-line"></div>
			<div class="pic-list pic-2">
				<a href="par-chi-art.html">
					<img src="images/huwai_r8_c4.gif" alt="">
					<!-- <div class="pic-info pic-2-desc">
								<p class="info-hd">开拓宝宝知识</p>
								<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
								<p class="info-bd">每个宝宝都是天使</p>
								<a href="javascript:"class="more more-desc">详细>>></a>
					</div> -->
				</a>
			</div>
			<div class="dash-line"></div>
			<div class="pic-list pic-3">
				<a href="par-chi-art.html">
					<img src="images/huwai_r8_c5.gif" alt="">
					<!-- <div class="pic-info pic-3-desc">
								<p class="info-hd">开拓宝宝知识</p>
								<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
								<p class="info-bd">每个宝宝都是天使</p>
								<a href="javascript:"class="more more-desc">详细>>></a>
					</div> -->
				</a>
			</div>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="js/base.js"></script>
	</body>
</html>