<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>我的收藏 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/persona-order.css">
	</head>
	<body>
		<div class="collect-main">
			<ul class="clearfix">
				<li>
					<div class="collect-wrap">
						<a class="collect-hd" href="details.html">
							<div class="verticalAlign_collect">
								<img src="images/collect_r2_c2.jpg" alt="">
							</div>
						</a>
						<p class="now-pic">&yen;180.00</p>
						<p class="ori-pic">&yen;195.00</p>
						<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
						<div class="collect-drop">
							<i></i>
							<span>取消收藏</span>
						</div>
					</div>
				</li>
				<li>
					<div class="collect-wrap">
						<a class="collect-hd" href="details.html">
							<div class="verticalAlign_collect">
								<img src="images/collect_r2_c2.jpg" alt="">
							</div>
						</a>
						<p class="now-pic">&yen;180.00</p>
						<p class="ori-pic">&yen;195.00</p>
						<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
						<div class="collect-drop">
							<i></i>
							<span>取消收藏</span>
						</div>
					</div>
				</li>
				<li>
					<div class="collect-wrap">
						<a class="collect-hd" href="details.html">
							<div class="verticalAlign_collect">
								<img src="images/collect_r2_c2.jpg" alt="">
							</div>
						</a>
						<p class="now-pic">&yen;180.00</p>
						<p class="ori-pic">&yen;195.00</p>
						<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
						<div class="collect-drop">
							<i></i>
							<span>取消收藏</span>
						</div>
					</div>
				</li>
				<li>
					<div class="collect-wrap">
						<a class="collect-hd" href="details.html">
							<div class="verticalAlign_collect">
								<img src="images/collect_r2_c2.jpg" alt="">
							</div>
						</a>
						<p class="now-pic">&yen;180.00</p>
						<p class="ori-pic">&yen;195.00</p>
						<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
						<div class="collect-drop">
							<i></i>
							<span>取消收藏</span>
						</div>
					</div>
				</li>
				<li>
					<div class="collect-wrap">
						<a class="collect-hd" href="details.html">
							<div class="verticalAlign_collect">
								<img src="images/collect_r2_c2.jpg" alt="">
							</div>
						</a>
						<p class="now-pic">&yen;180.00</p>
						<p class="ori-pic">&yen;195.00</p>
						<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
						<div class="collect-drop">
							<i></i>
							<span>取消收藏</span>
						</div>
					</div>
				</li>
				<li>
					<div class="collect-wrap">
						<a class="collect-hd" href="details.html">
							<div class="verticalAlign_collect">
								<img src="images/collect_r2_c2.jpg" alt="">
							</div>
						</a>
						<p class="now-pic">&yen;180.00</p>
						<p class="ori-pic">&yen;195.00</p>
						<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
						<div class="collect-drop">
							<i></i>
							<span>取消收藏</span>
						</div>
					</div>
				</li>
			</ul>
			<div class="collect-page-wrap clearfix">
				<div class="collect-page">
					<span class="page-num">共<span>18</span>页</span>
					<a href="javascript:" class="page-arrow iconfont"></a>
					<a href="javascript:" class="page-list page-list-current">1</a>
					<a href="javascript:" class="page-list">2</a>
					<a href="javascript:" class="page-list">3</a>
					<a href="javascript:" class="page-arrow iconfont">&#xe604;</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".if3",parent.document).addClass('list-current');
				$(".if1",parent.document).removeClass('list-current');
				});
		</script>
		<script type="text/javascript" src="js/persona-order.js"></script>
	</body>
</html>