<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>funshion baby</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
		<style type="text/css">
		*{margin: 0;padding: 0}
		.container{width: 1140px;overflow: hidden;margin:0 auto;}
		img{width: 100%;border: 0 none; display: block;}
		</style>
	</head>
	<body>
		<div class="container"><img src="images/construct.gif" /></div>
	</body>
</html>