<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>找回密码 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/confirm-password.css">
	</head>
	<body>
		<div class="content">
			<div class="password container">
				<div class="logo">
					<img src="images/logo.png" alt="">
				</div>
				<div class="list">
					<form action="">
						<h3>找回FushionBaby密码</h3>
						<div class="list-wrap">
							<div class="n-pass-wrap">
								<input id="new_password" type="text" class="text" placeholder="输入新的密码">
								<div class="error" id="show_new_password"><em>*</em><span id="check_new_password"></span></div>
							</div>
							<div class="n-pass-wrap">
								<input id="confirm_password" type="text" class="text" placeholder="确认新的密码">
								<div class="error" id="show_confirm_password"><em>*</em><span id="check_confirm_password"></span></div>
							</div>
						</div>
						<div class="list-item">
							<div ><input class="list-item-btn" type="button" onclick="getbackPassword();" value="确定"></div>
							<div class="popup">
								<i class="bee">
								<img src="images/popup.png" alt="">
								</i>
								<span class="tips">密码修改成功</span>
								<a class="list-item-btn" href="login.html">确认</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="../web-js/forget-password.js"></script>
	</body>
</html>