<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>商品详情 - Fushionbaby</title>
		<script src="js/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/details.css">
		<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="css/perfect-scrollbar.css" rel="stylesheet" media="screen,projection">
	</head>
	<body>
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- detail begin -->
		<div class="detail container">
			<div class="detail-meta">
				<div class="tb-property">
					<div class="pass-check" id="not_login">
						<div class="close"></div>
						<p class="desc-info">您好，请<a href="login.html">登录</a></p>
						<!-- <button class="pay-btn con-ec pass-change">确定</button> -->
					</div>
					<div class="pass-checked" id="has-add">
						<div class="close"></div>
						<p class="desc-info">您好，已<a href="persona-order.html?true">收藏</a></p>
						<!-- <button class="pay-btn con-ec pass-change">确定</button> -->
					</div>
					<div class="tb-wrap-l">
						<ul class="top">
							<li><a href="javascript:"><div class="verticalAlign_detail_top"><img src="images/sp.png" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_top"><img src="images/banner.gif" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_top"><img src="images/banner.jpg" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_top"><img src="images/bab.png" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_top"><img src="images/fs_r2_c2.jpg" alt=""></div></a></li>
						</ul>
						<ul class="bottom">
							<li><a href="javascript:"><div class="verticalAlign_detail_bottom"><img src="images/first.png" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_bottom"><img src="images/second.png" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_bottom"><img src="images/third.png" alt=""></div></a></li>
							<li><a href="javascript:"><div class="verticalAlign_detail_bottom"><img src="images/fourth.png" alt=""></div></a></li>
							<li class="last"><a href="javascript:"><img src="images/fifth.png" alt=""></a></li>
						</ul>
					</div>
					<div class="tb-wrap-r">
						<div class="tb-detail-hd">
							<h2>Table-Runner 硅胶桌旗装饰</h2>
							<p>(First Silicone Tabel-Runner首个硅胶桌旗 简单、干净的硅胶设计尽显高贵、纯粹，无与伦比.防滑且
							耐用，耐高温220℃)</p>
						</div>
						<div class="price">
							<span class="current-price">FushionBaby 价：&yen;</span>
							<em class="present-price">150.00</em>
							<span class="cost-price">原价：&yen;</span>
							<del>190.00</del>
						</div>
						<div class="color-size fl">
							<div class="csbox fl">
								<em class="esc">
								<img src="images/details-esc.png " alt="">
								</em>
								<dl class="color fl width100">
									<dt>可选择颜色：</dt>
									<dd class="color-choose fl">
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										蓝色
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									</dd>
								</dl>
								<dl class="size fl">
									<dt>可选择尺寸：</dt>
									<dd class="size-choose fl">
									<a href="javascript:" class="choose">
										<span>S</span>
										<em>(0-8月)</em>
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										<span>M</span>
										<em>(8月-1周)</em>
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									<a href="javascript:" class="choose">
										<span>L</span>
										<em>(1周-2周)</em>
										<em class="gougou">
										<img src="images/gougou.png" alt="">
										</em>
									</a>
									</dd>
								</dl>
							</div>
						</div>
						<div class="buy fl">
							<p>
							<h3>购买数量：</h3>
							</p>
							<div class="amountent">
								<span class="amount">
								<a href="javascript:" class="left goods_cut" onclick="goods_cut();changePrice();">-</a>
								<input type="text" class="num amount-num" value="1" onblur="changePrice()" name="number" id="number" >
								<a href="javascript:" class="right goods_add" onclick="goods_add();changePrice();">+</a>
								</span>
								<em>库存:571件</em>
								<!-- 加减商品数量 -->
								<script type="text/javascript">
								function goods_cut(){
								var num_val=document.getElementById('number');
								var new_num=num_val.value;
								var Num = parseInt(new_num);
								if(Num>1)Num=Num-1;
								num_val.value=Num;
								}
								function goods_add(){
								var num_val=document.getElementById('number');
								var new_num=num_val.value;
								var Num = parseInt(new_num);
								Num=Num+1;
								num_val.value=Num;
								}
								</script>
							</div>
							<div class="btn">
								<span class="cart">
									<img src="images/cart.png" alt="" class="bcar">
								</span>
								<span class="buy-now"></span>
								<span class="collect">
								</span>
							</div>
						</div>
						<div class="share fl">
							<span>分享到：</span>
							<a href="#" title="新浪微博">
								<img src="images/xl.png" >
							</a>
							<a href="#" title="QQ">
								<img src="images/qq.png" >
							</a>
							<a href="#" title="QQ空间">
								<img src="images/qk.png" >
							</a>
							<a href="#" title="微信">
								<img src="images/wx.png" >
							</a>
							<a href="#" title="微信朋友圈">
								<img src="images/wp.png" >
							</a>
							<a href="#" title="短信">
								<img src="images/dx.png" >
							</a>
							<a href="#" title="邮箱">
								<img src="images/yx.png" >
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 超值组合  开始 -->
			<div class="group_wrap fl width100">
				<h3 class="detail_tit">超值组合</h3>
				<a href="" title="CHBABY探路者婴儿推车三轮伞车宝宝推">
					<div class="group">
						<div class="verticalAlign_group"><img src="http://filepic.fushionbaby.com/img/sku/100322d/100322d_w_p_l_d33236f3-e277-44ac-a7c9-acc0d27f6819.JPG" alt=""></div>
						<p>CHBABY探路者婴儿推车三轮伞车宝宝推</p>
						<span>￥ 246.00 元&emsp;<i>275.00</i></span>
					</div>
				</a>
				<span class="group_add">+</span>
				<a href="" title="CHBABY探路者婴儿推车三轮伞车宝宝推">
					<div class="group">
						<div class="verticalAlign_group"><img src="http://filepic.fushionbaby.com/img/sku/100247d/100247d_w_p_l_19818e2c-da46-443f-97a7-c76cba7ffabf.jpg" alt=""></div>
						<p>CHBABY探路者婴儿推车三轮伞车宝宝推</p>
						<span>￥ 246.00 元&emsp;<i>275.00</i></span>
					</div>
				</a>
				<span class="group_add">+</span>
				<a href="" title="CHBABY探路者婴儿推车三轮伞车宝宝推">
					<div class="group">
						<div class="verticalAlign_group"><img src="http://filepic.fushionbaby.com/img/sku/100247d/100247d_w_p_l_19818e2c-da46-443f-97a7-c76cba7ffabf.jpg" alt=""></div>
						<p>CHBABY探路者婴儿推车三轮伞车宝宝推</p>
						<span>￥ 246.00 元&emsp;<i>275.00</i></span>
					</div>
				</a>
				<span class="group_add">+</span>
				<a href="" title="CHBABY探路者婴儿推车三轮伞车宝宝推">
					<div class="group">
						<div class="verticalAlign_group"><img src="http://filepic.fushionbaby.com/img/sku/100247d/100247d_w_p_l_19818e2c-da46-443f-97a7-c76cba7ffabf.jpg" alt=""></div>
						<p>CHBABY探路者婴儿推车三轮伞车宝宝推</p>
						<span>￥ 246.00 元&emsp;<i>275.00</i></span>
					</div>
				</a>
				<div class="group_right">
					<span>套&ensp;装&ensp;价：899.00</span>
					<span>原&emsp;&emsp;价：1000.00</span>
					<span class="color_red oh">立即节省：899.00</span>
					<a class="group_right_btn">立即购买</a>
				</div>
				<span class="group_equal">=</span>
			</div>
			<!-- 超值组合 结束 -->
			<div class="main-wrap">
				<div class="tabbarbox" id="tabbarbox">
					<ul class="tabbar">
						<li class="tab selected ggcs"><a href="javascript:">规则参数</a></li>
						<li class="tab spxq"><a href="javascript:">商品详情</a></li>
						<li class="tab pjsd"><a href="javascript:">评价晒单</a></li>
						<li class="tab cnxh"><a href="javascript:">猜你喜欢</a></li>
						<li class="tab ys"><a href="javascript:">品牌优势</a></li>
						<li class="last">
							<div class="buycar">
								<span>&yen:15099.00</span>
								<img src="images/bcar.png" alt="" class="car">
							</div>
						</li>
					</ul>
				</div>
				<div class="attributes">
					<div class="attributes-list">
						<ul class="attr">
							<li>商品名称：硅胶桌旗装饰</li>
							<li>商品编号：1217268249</li>
							<li>品牌：Table-Runner</li>
							<li>商品毛重：13.4kg</li>
							<li>商品毛重：13.4kg</li>
							<li>材质：硅胶</li>
							<li>商品毛重：13.4kg</li>
							<li>商品毛重：13.4kg</li>
						</ul>
					</div>
				<video preload="metadata" controls="controls" class="playvideo" src="http://videos.4moms.com/breeze_web.mp4" ></video>
				<div class="description">
					<div class="content">
						<img class="bttrlazyloading" data-bttrlazyloading-lg-src="http://filepic.fushionbaby.com/img/sku_detail/110614/110614s4L4.jpg" alt="">
					</div>
				</div>
				<div class="assessment">
					<div class="reviews">
						<!-- 评价晒单 开始 -->
						<div class="reviews-hd">
							<h4 class="hd">评价晒单</h4>
							<div class="bd">
								<ul class="bd-l">
									<li class="bd-l-title">
										<span>4.0</span>
										<span class="succeed">商品满意度</span>
									</li>
									<li class="star_rank">
										<ul>
											<li class="unstar"></li>
											<li class="unstar"></li>
											<li class="unstar"></li>
											<li class="unstar"></li>
											<li class="unstar"></li>
										</ul>
									</li>
									<li style="width:70%;">
										<div class="rank_nav">
											<a class="rank_nav_a" href="javascript:void(0);"><span>4.0</span></a>
											<span class="rank_nav_color_1"></span>
											<span class="rank_nav_color_2"></span>
											<span class="rank_nav_color_3"></span>
											<span class="rank_nav_color_4"></span>
											<span class="rank_nav_color_5"></span>
										</div>
										<div class="rank_nav_bottom">
											<span>很不满意</span>
											<span>不满意</span>
											<span>一般</span>
											<span>满意</span>
											<span>很满意</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="rate_grid">
							<ul class="rate_grid_ul">
								<li>
									<div class="rate_grid_left">
										<div class="ava"><img src="images/default.png" alt=""></div>
										<p><b title="jiejiejiejiejieji">jiejiejiejiejieji</b></p>
									</div>
									<div class="rate_grid_right">
										<div class="rate_grid_top">
											<p class="rate_grid_describe">颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
											<div class="rate_grid_top_r">
												<span class="rate_grid_star">
													<input type="hidden" value="4">
													<ul>
														<li class="unstar"></li>
														<li class="unstar"></li>
														<li class="unstar"></li>
														<li class="unstar"></li>
														<li class="unstar"></li>
													</ul>
												</span>
												<span class="rate_grid_detail">颜色：红色 / 尺寸：S(小)</span>
												<span class="rate_grid_time">2015-01-23 22:30:55</span>
											</div>
										</div>
										<div class="rate_grid_middle">
											<span>晒图：</span>
											<img src="images/sp.png" alt="">
											<img src="images/sp.png" alt="">
											<img src="images/sp.png" alt="">
											<img src="images/sp.png" alt="">
										</div>
										<div class="rate_grid_bottom">
											<div class="assess_list_wrap fl">
												<ul class="assess_list">
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
													<li>
														<p>颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。颜色好看，很舒适。</p>
														<div class="assess_li_r">
															<span class="assess_list_name">揭志勇</span>
															<span class="assess_list_time">2015-01-23 22:30:55</span>
														</div>
													</li>
												</ul>
											</div>
											<a class="rate_grid_replay" href="javascript:void(0);"><i class="fa fa-pencil"></i> 回复 （<b></b>）</a>
											<a class="rate_grid_zan" href="javascript:void(0);"><i class="fa fa-star"></i> 赞 （<b>2</b>）</a>
											<div class="replay_textarea">
												<textarea name="" id="" cols="30" rows="1"></textarea>
												<a class="replay_btn" href="javascript:void(0);">提交回复</a>
												<label for=""><input type="checkbox">匿名</label>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="rate_grid_left">
										<div class="ava"><img src="images/default.png" alt=""></div>
										<p><b title="jiejiejiejiejieji">匿名</b></p>
									</div>
									<div class="rate_grid_right">
										<div class="rate_grid_top">
											<p class="rate_grid_describe">颜色好看，很舒适。颜色好看，很舒适。</p>
											<div class="rate_grid_top_r">
												<span class="rate_grid_star">
													<input type="hidden" value="4">
													<ul>
														<li class="unstar"></li>
														<li class="unstar"></li>
														<li class="unstar"></li>
														<li class="unstar"></li>
														<li class="unstar"></li>
													</ul>
												</span>
												<span class="rate_grid_detail">颜色：红色 / 尺寸：S(小)</span>
												<span class="rate_grid_time">2015-01-23 22:30:55</span>
											</div>
										</div>
										<div class="rate_grid_middle">
											<span>晒图：</span>
											<img src="images/sp.png" alt="">
											<img src="images/sp.png" alt="">
											<img src="images/sp.png" alt="">
											<img src="images/sp.png" alt="">
										</div>
										<div class="rate_grid_bottom">
											<div class="assess_list_wrap fl">
												<ul class="assess_list">
												</ul>
											</div>
											<a class="rate_grid_replay" href="javascript:void(0);"><i class="fa fa-pencil"></i> 回复 （<b></b>）</a>
											<a class="rate_grid_zan" href="javascript:void(0);"><i class="fa fa-star"></i> 赞 （<b>22</b>）</a>
											<div class="replay_textarea">
												<textarea name="" id="" cols="30" rows="1"></textarea>
												<a class="replay_btn" href="javascript:void(0);">提交回复</a>
												<label for=""><input type="checkbox">匿名</label>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<!-- 分页 开始 -->
							<div class="public_page_wrap fr">
								<span class="public_page_count">共 <b>5</b> 页</span>
								<a class="public_page_first" href="javascript:void(0);" title="首页"><i class="fa fa-angle-double-left"></i></a>
								<a class="public_page_prev" href="javascript:void(0);" title="上一页"><i class="fa fa-angle-left"></i></a>
								<div class="page_wrap fl">
									<a href="javascript:void(0);" class="page_on page_1">1</a>
									<a href="javascript:void(0);" class="page_2">2</a>
									<a href="javascript:void(0);" class="page_3">3</a>
									<a href="javascript:void(0);" class="page_4">4</a>
									<a href="javascript:void(0);" class="page_5">5</a>
								</div>
								<a class="public_page_next" href="javascript:void(0);" title="下一页"><i class="fa fa-angle-right"></i></a>
								<a class="public_page_last" href="javascript:void(0);" title="尾页"><i class="fa fa-angle-double-right"></i></a>
							</div>
							<!-- 分页  结束 -->
						</div>
						<!-- 评价晒单 结束 -->
						<div class="favour">
							<p class="love">猜你喜欢</p>
							<div class="collect-main">
								<ul class="clearfix">
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png"  alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
									<li>
										<div class="collect-wrap">
											<a class="collect-hd" href="javascript:">
												<div class="verticalAlign_detail_like">
													<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/pic.png" alt="">
												</div>
											</a>
											<p class="now-pic">&yen;180.00</p>
											<p class="ori-pic">&yen;195.00</p>
											<a href="javascript:"class="collect-desc">Mark-Mat  硅胶餐垫/ 马克笔套装</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="good">
							<p class="better">FushionBaby优势</p>
							<div class="pic">
								<a href="#">
									<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/bab.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer begin -->
	<script src="js/jqthumb.min.js"></script>
	<script>
		$(function(){
			$('.rate_grid_middle img').jqthumb({
				width: 60,
				height: 60,
				after: function(imgObj){
					imgObj.css('opacity', 0).animate({opacity: 1}, 1000);
				}
			});
		});
	</script>
	<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
	<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共右侧导航JS -->

	<script type="text/javascript" src="js/base.js"></script>
	<!-- <script type="text/javascript" src="js/details.js"></script> -->
	<!-- <script type="text/javascript" src="js/car-fly.js"></script> -->
	<script src="js/perfect-scrollbar.js"></script>
	<script src="js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="js/jquery.bttrlazyloading.min.js"></script><!-- 延迟加载JS文件 -->
	<!--[if lt IE8]>
		<script>
			$(function(){
				$('.bttrlazyloading').each(function(){
		    	$(this).attr({'src':$(this).attr('data-bttrlazyloading-lg-src')});
		    })
			})
		</script>
	<![endif]-->
	<script type="text/javascript">
	  $(".bttrlazyloading").bttrlazyloading({placeholder:'images/lazyload.gif'});
	</script>
</body>
</html>