<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>fushionbaby手机下载 APP下载</title>
		<meta name="author" content="Alvaro Trigo Lopez" />
		<meta name="description" content="fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website." />
		<meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple" />
		<meta name="Resource-type" content="Document" />
		<link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
		<link rel="stylesheet" type="text/css" href="css/example2.css" />
		<link id="css" rel="stylesheet" type="text/css" href="css/bml2.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/jquery.fullPage.js"></script>
		<script type="text/javascript" src="js/down.js"></script>
	</head>
	<body>
		<!-- ------ 边导航 ------------>
		<div class="menu_right">
			<a href="#firstPage"><div class="menu_right_box"></div></a>
			<a href="#secondPage"><div class="menu_right_box" id="menu_right_box1"></div></a>
			<a href="#3rdPage"><div class="menu_right_box" id="menu_right_box2"></div></a>
			<a href="#4thpage"><div class="menu_right_box" id="menu_right_box3"></div></a>
			<a href="#5thpage"><div class="menu_right_box" id="menu_right_box4"></div></a>
		</div>
		<!-----------导航------------>
		<ul id="menu">
			<div class="content">
				<a href="http://www.fushionbaby.com"><img style="float:left;padding-top:20px;" src="images/logo (2).png" /></a>
				<li data-menuanchor="firstPage"><a>Android</a></li>
				<li data-menuanchor="secondPage"><a>Iphone</a></li>
				<li data-menuanchor="3rdPage"><a>Web/触屏版</a></li>
			</div>
		</ul>
		<!---------弹窗---------->
		<div class="open_box">
		</div>
		<div class="open_wrap">
			<i class="close"></i>
			<h3>下载手机FushionBaby</h3>
			<em id="tips"></em>
			<ul class="open_bd clearfix">
				<li>
					<a href="javascript:void(0)">
						<i class="android"></i>
						<p class="mt">Android</p>
					</a>
					<div class="open_ft android_drop of_current"  >
						<div class="oprn_ft_l">
							<a href="http://filepic.fushionbaby.com/app/fushionbaby_android.apk"><button class="top_weibo">立即下载</button></a>
							<p><a href="http://filepic.fushionbaby.com/app/fushionbaby_android.apk">直接下载到电脑</a></p>
						</div>
						<a href="http://www.baidu.com/" class="oprn_ft_r">
							<img src="images/erweima.gif" alt="二维码">
							<p>手机扫描二维码访问</p>
						</a>
					</div>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="iphone"></i>
						<p class="mt">iPhone</p>
					</a>
					<div class="open_ft iphone_drop">
						<div class="oprn_ft_l">
							<a href="https://itunes.apple.com/us/app/dou-shi-bao/id953358017?mt=8"><button class="top_weibo">立即下载</button></a>
						</div>
						<a href="Judge.html" class="oprn_ft_r">
							<img src="images/erweima.gif" alt="二维码">
							<p>手机扫描二维码访问</p>
						</a>
					</div>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="mob"></i>
						<p class="mt">Web/触屏版</p>
					</a>
					<div class="open_ft mob_drop">
						<div class="oprn_ft_l">
							<p class="mt">通过手机浏览器输入网站即可访问</p>
							<div class="mob-website">m.fushionbaby.com</div>
						</div>
						<a href="Judge.html" class="oprn_ft_r">
							<img src="images/erweima.gif" alt="二维码">
							<p>手机扫描二维码访问</p>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<!----第一屏---->
		<div class="section section1 bg1">
			<div class="top_main ">
				<div class="topinfo info_bg1">
					<a><div class="top_weibo">立即下载</div></a>
				</div>
				<div class="pic_2211">
					<img src="images/1pic.png" id="pic_1">
					<img src="images/2pic.png" id="pic_2">
					<img src="images/2211pic.png" >
				</div>
				<a href="#secondPage"><div class="scroll_btn shake shake-vertical shake-constant hover-stop shake-slow"></div></a>
			</div>
		</div>
		<!----第二屏---->
		<div class="section section2 bg2">
			<div class="top_main ">
				<div class="topinfo info_bg2">
					<a><div class="top_weibo">立即下载</div></a>
				</div>
				<div class="pic_2232">
					<img src="images/2232pic.png" id="pic_2233">
					<img src="images/2233pic.png" >
					<img src="images/earthpic.png" class="earthpic">
					<img src="images/newyork.png" alt="纽约" class="newyork">
					<img src="images/rome.png" alt="罗马" class="rome">
					<img src="images/paris.png" alt="巴黎" class="paris">
				</div>
			</div>
		</div>
		<!----第三屏---->
		<div class="section section3 bg3" style="overflow-y: scroll;">
			<div class="top_main">
				<div class="topinfo info_bg3">
					<a><div class="top_weibo">立即下载</div></a>
				</div>
				<div class="pic_2232 pic_tree">
					<span class="sun"></span>
					<div class="cloud cloud_1"></div>
					<div class="cloud cloud_2"></div>
					<div class="cloud cloud_3"></div>
				</div>
			</div>
		</div>
		<!----第四屏---->
		<div class="section scroll section4 bg4" style="overflow-y: scroll;">
			<div class="top_main">
				<div class="topinfo info_bg4">
					<a><div class="top_weibo">立即下载</div></a>
				</div>
				<div class="pic_2232 pic_cent">
					<img src="images/2255pic.png">
					<div class="ball ball_1"></div>
					<div class="ball ball_2"></div>
					<div class="ball ball_3"></div>
					<div class="dino"></div>
				</div>
			</div>
		</div>
		<!----第五屏---->
		<div class="section section5 scroll bg5" style="overflow-y: scroll;">
			<div class="top_main">
				<div class="topinfo info_bg5">
					<a><div class="top_weibo">立即下载</div></a>
				</div>
				<div class="pic_2232" style="top:50%; margin-top:-236px; left:159px;">
					<img src="images/2266pic.png" style="position:absolute;z-index:2;">
					<div class="ware ware_1"></div>
					<div class="ware ware_2"></div>
					<div class="ware ware_3"></div>
					<div class="ware ware_4"></div>
					<div class="ware ware_5"></div>
					<div class="ware ware_6"></div>
					<div class="ware ware_7"></div>
					<div class="ware ware_8"></div>
				</div>
			</div>
		</div>
	</body>
</html>