<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>订单详情 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/persona-order.css">
	</head>
	<body>
		<div class="od-main">
			<h2>订单详情</h2>
			<div class="flow-chart distance4"></div>
			<ul class="order-info">
				<li>订单编号：<span>123456789987654321123456</span></li>
				<li>下单时间：<span>2014-08-12  11:16:56</span></li>
				<li class="clearfix">
					<div class="od-status">
						<span>当前状态:</span><span class="pay-over pinker">交易完成</span>
					</div>
				</li>
				<li class="add-wrap">
					<h4>收货地址</h4>
					<p class="add-info"><span class="user">aka</span> <span class="mob">13888888888</span> <span>上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市</span></p>
				</li>
			</ul>
			<div class="mer-list-wrap">
				<h4>商品清单</h4>
				<table class="order-table evaluate">
					<tbody style="border:0 none;">
						<tr class="title-list">
							<th class="col0"></th>
							<th class="t-title col1"></th>
							<th class="t-title col2"></th>
							<th class="t-title col3"></th>
							<th class="t-title col4"></th>
							<th class="t-title col5"></th>
							<th class="t-title col6"></th>
						</tr>
					</tbody>
					<tbody>
						<tr class="order-con">
							<td colspan="2" class="con-1">
								<div class="order-goods">
									<a href="order-goods-item">
										<img src="images/order-list01.gif" alt="">
									</a>
								</div>
								<div class="order-tex">
									<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
									<div class="order-tex-bd">
										<div class="size">尺寸:M</div>
										<div class="color">颜色:丛林演奏</div>
									</div>
								</div>
							</td>
							<td class="con-list pri">230.00</td>
							<td class="con-list amount">1</td>
							<td class="con-list tot">230.00</td>
							<td class="con-list status pinker" colspan="2">交易完成</td>
						</tr>
					</tbody>
				</table>
				<dl class="tick">
					<dt>发票信息:</dt>
					<dd class="tick-info">
					<span>抬头：</span>
					<span>aka</span>
					</dd>
					<dd class="tick-info">
					<span>商品名称：</span>
					<span>akaakaakaakaakaakaakaaka</span>
					</dd>
					<dd class="tick-info">
					<span>价格：</span>
					<span>aka</span>
					</dd>
				</dl>
			</div>
		</div>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/persona-order.js"></script>
	</body>
</html>