<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>风尚宝贝志 -宝贝风采、前线活动、会员活动</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/children.css">
		<link rel="stylesheet" href="css/toy-product-list.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<div class="second-page" id="chuantong">
			<ul class="tuul">
				<li class="bannerdingwei">
					<a target="_Blank" href="http://www.fushionbaby.com/product/skuDetail.do?skuId=302"><img alt="" src="http://filepic.fushionbaby.com/img/ad/4xo8-safetychairbanner.jpg"></a>
				</li>
				<li>
					<a target="_Blank" href="http://www.fushionbaby.com/product/search-list.do?searchKey=Concord"><img alt="" src="http://filepic.fushionbaby.com/img/ad/041C-safetychairbanner2.jpg"></a>
				</li>
				<li>
					<a target="_Blank" href="http://www.fushionbaby.com/product/skuDetail.do?skuId=296"><img alt="" src="http://filepic.fushionbaby.com/img/ad/0n33-safetychairbanner3.jpg"></a>
				</li>
				<li class="bannerdingwei">
					<a target="_Blank" href="http://www.fushionbaby.com/product/skuDetail.do?skuId=302"><img alt="" src="http://filepic.fushionbaby.com/img/ad/4xo8-safetychairbanner.jpg"></a>
				</li></ul>
				<div class="anniu">
					<span class="leftbut"></span>
					<span class="rightbut"></span>
				</div>
				<ul class="dianul">
					<li class="cur"></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<!-- banner end -->
			<!-- main begin -->
			<div class="main container">
				<div class="main-hd"></div>
				<div class="gray-line"></div>
				<div class="pic-list">
					<a href="fs-baby-art.html"><img src="images/fs_r2_c2.jpg" alt=""></a>
					<!-- <div class="pic-info pic-desc">
								<p class="info-hd">开拓宝宝知识</p>
								<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
								<p class="info-bd">每个宝宝都是天使</p>
								<a href="javascript:" class="more more-desc">详细>>></a>
					</div> -->
				</div>
				<div class="dash-line"></div>
				<div class="pic-list pic-2">
					<a href="fs-baby-art.html"><img src="images/fs_r2_c2.jpg" alt=""></a>
					<!-- <div class="pic-info pic-2-desc">
								<p class="info-hd">开拓宝宝知识</p>
								<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
								<p class="info-bd">每个宝宝都是天使</p>
								<a href="javascript:"class="more more-desc">详细>>></a>
					</div> -->
				</div>
				<div class="dash-line"></div>
				<div class="pic-list pic-3">
					<a href="fs-baby-art.html"><img src="images/fs_r2_c2.jpg" alt=""></a>
					<!-- <div class="pic-info pic-3-desc">
								<p class="info-hd">开拓宝宝知识</p>
								<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
								<p class="info-bd">每个宝宝都是天使</p>
								<a href="javascript:"class="more more-desc">详细>>></a>
					</div> -->
				</div>
			</div>
			<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
			<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->

			<script type="text/javascript" src="js/base.js"></script>
			<script type="text/javascript" src="js/lunbo.js"></script>
		</body>
	</html>