<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Fushionbaby 像在国外一样任性</title>
		<script src="js/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet" href="css/public.css"><!-- 公共头部导航，侧边导航，底部导航CSS -->
		<link rel="stylesheet" href="css/style.css">
		<!--[if IE 8 ]><html class="ie8"><![endif]-->
	</head>
	<body id="index">
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<!-- <script type="text/javascript" src="ftl/header.js"></script> --><!-- 公共顶部JS -->
		<div class="header_wrap"></div>
		<script>
		$(function(){
			$(".header_wrap").load("ftl/header.html");
		})
		</script>
		<!-- ///////////////////////  新首页 添加部分 开始  //////////////////////////// -->
		<div id="all">
			<div id="chuantong">
				<ul class="tuul">
					<li class="bannerdingwei">
						<a href="#" style="width:882px;height:458px;float:left;">
							<!--[if lt IE 9 ]>
							<object style="z-index:1000;" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="882" height="458">
							  <param name="movie" value="images/flash/flash.swf" name="wmode" value="opaque" />
							  <param name="quality" value="high" />
							</object>
							<![endif]-->
							<div id="myFlash"></div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="http://filepic.fushionbaby.com/img/ad/a1075c86-78f8-4e4b-843a-2d04ca4f26cc%E6%8A%BD%E5%A5%96banner.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="http://filepic.fushionbaby.com/img/ad/a1075c86-78f8-4e4b-843a-2d04ca4f26cc%E6%8A%BD%E5%A5%96banner.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/banner.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/banner.jpg" />
						</a>
					</li>
				</ul>
				<div class="anniu" style="z-index:1000;">
					<span class="leftbut"></span>
					<span class="rightbut"></span>
				</div>
				<ul class="dianul">
					<li class="cur"></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<a class="at_arro_lf"></a>
				<a class="at_arro_ri"></a>
			</div>
			<div id="scroll_box">
				<h3>抢购专区 直击底价 <span>HOT</span></h3>
				<div class="box_163css">
					<ul>
						<li>
							<div class="banner-box">
								<a href="" class="hide-a">立即抢购</a>
								<div class="banner-box-l">
									<div class="verticalAlign">
										<img src="images/2-index2hover_r2_c2.gif" class="banner-box-img"/>
									</div>
								</div>
								<div class="banner-box-r">
									<span class="banner-box-name nowrap">ADEN+ANAIS 衣物洗调剂</span>
									<span class="banner-box-price">￥125</span>
									<span>剩余时间：</span>
									<div class="endtime" value="1429113300000"></div>
								</div>
							</div>
							<div class="banner-box">
								<a href="" class="hide-a">立即抢购</a>
								<div class="banner-box-l">
									<div class="verticalAlign">
										<img src="images/2-index2hover_r2_c2.gif" class="banner-box-img"/>
									</div>
								</div>
								<div class="banner-box-r">
									<span class="banner-box-name nowrap">ADEN+ANAIS 衣物洗调剂</span>
									<span class="banner-box-price">￥125</span>
									<span>剩余时间：</span>
									<div class="endtime" value="1429113300000"></div>
								</div>
							</div>
							<div class="banner-box">
								<a href="" class="hide-a">立即抢购</a>
								<div class="banner-box-l">
									<div class="verticalAlign">
										<img src="images/2-index2hover_r2_c2.gif" class="banner-box-img"/>
									</div>
								</div>
								<div class="banner-box-r">
									<span class="banner-box-name nowrap">ADEN+ANAIS 衣物洗调剂</span>
									<span class="banner-box-price">￥125</span>
									<span>剩余时间：</span>
									<div class="endtime" value="1429113300000"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-box">
								<a href="" class="hide-a">立即抢购</a>
								<div class="banner-box-l">
									<div class="verticalAlign">
										<img src="images/2-index2hover_r2_c2.gif" class="banner-box-img"/>
									</div>
								</div>
								<div class="banner-box-r">
									<span class="banner-box-name nowrap">ADEN+ANAIS 衣物洗调剂</span>
									<span class="banner-box-price">￥125</span>
									<span>剩余时间：</span>
									<div class="endtime" value="1429113300000"></div>
								</div>
							</div>
							<div class="banner-box">
								<a href="" class="hide-a">立即抢购</a>
								<div class="banner-box-l">
									<div class="verticalAlign">
										<img src="images/2-index2hover_r2_c2.gif" class="banner-box-img"/>
									</div>
								</div>
								<div class="banner-box-r">
									<span class="banner-box-name nowrap">ADEN+ANAIS 衣物洗调剂</span>
									<span class="banner-box-price">￥125</span>
									<span>剩余时间：</span>
									<div class="endtime" value="1429113300000"></div>
								</div>
							</div>
							<div class="banner-box">
								<a href="" class="hide-a">立即抢购</a>
								<div class="banner-box-l">
									<div class="verticalAlign">
										<img src="images/2-index2hover_r2_c2.gif" class="banner-box-img"/>
									</div>
								</div>
								<div class="banner-box-r">
									<span class="banner-box-name nowrap">ADEN+ANAIS 衣物洗调剂</span>
									<span class="banner-box-price">￥125</span>
									<span>剩余时间：</span>
									<div class="endtime" value="1429113300000"></div>
								</div>
							</div>
						</li>
					</ul>
					<!-- <ol class="scroll_nav">
											<li class="current"><p>1</p></li>
											<li><p>2</p></li>
											<li><p>3</p></li>
											<li><p>4</p></li>
					</ol> -->
					<p class="prev" id="banner_prev"></p>
					<p class="next" id="banner_next"></p>
				</div>
			</div>
		</div>
		<!-- 幻灯片Flash -->
		<script src="js/SWFObject.js"></script>
		<script>
			myFlash = null;
			$(function(){
				myFlash = $('#myFlash');
				myFlash.flash(
		      {
		        swf: 'images/flash/flash.swf',
		        width: 882,
		        height: 458,
		        play: true,
		        flashvars: {
		          message: 'I come from Flash.'
		        },
		      }
		    );
			})

			function play() {
			  myFlash.flash(
			    function() {
			      this.Play();
			    }
			  );
			}

			function pause() {
			  myFlash.flash(
			    function() {
			      this.StopPlay();
			    }
			  );
			}
		</script>
		<!-- banner end -->
		<!-- ///////////////////////  新首页 添加部分 结束  //////////////////////////// -->
		<div class="newpro container">
			<div class="newpro-hd">
				<h2 class="column-title">FUSHION BABY 海外同步专区</h2>
				<span class="new">Global</span>
				<div class="more">
					<a class="more-btn" href="new.html">
						<span>更多</span>
					</a>
				</div>
			</div>
			<div class="newpro-bd">
				<div class="nbw-arrow-wrapper">
					<div class="arrow-btn l-arrow iconfont naw-current"id="left">&#xe603;</div>
					<div class="arrow-btn r-arrow iconfont"id="right">&#xe604;</div>
				</div>
				<div class="newpro-bd-wrapper">
					<ul class="newpro-bd-list" id="newpro-wrapper">
						<li class="newpro-bd-item">
							<div class="newpro-bd-column nbc-current">
								<span class="item-info">
								<span class="item-title"><a href="details.html">baby1阶段天然硅胶奶嘴</a></span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img src="http://filepic.fushionbaby.com/img/sku/100247e/100247e_w_p_l_1c056fb2-a5ec-4a6b-afb7-62bf24f8c79f.JPG" alt="">
										</div>
									</a>
								</div>
							</div>
							<div class="newpro-bd-column">
								<span class="item-info">
								<span class="item-title">
								<a href="details.html">baby1阶段天然硅胶奶嘴</a>
								</span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img src="http://filepic.fushionbaby.com/img/sku/100247e/100247e_w_p_l_1c056fb2-a5ec-4a6b-afb7-62bf24f8c79f.JPG" alt="">
										</div>
									</a>
								</div>
							</div>
							<div class="newpro-bd-column">
								<span class="item-info">
								<span class="item-title">
								<a href="details.html">baby1阶段天然硅胶奶嘴</a>
								</span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img src="http://filepic.fushionbaby.com/img/sku/100247e/100247e_w_p_l_1c056fb2-a5ec-4a6b-afb7-62bf24f8c79f.JPG" alt="">
										</div>
									</a>
								</div>
							</div>
							<div class="newpro-bd-column">
								<span class="item-info">
								<span class="item-title">
								<a href="details.html">baby1阶段天然硅胶奶嘴</a>
								</span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img src="http://filepic.fushionbaby.com/img/sku/100247e/100247e_w_p_l_1c056fb2-a5ec-4a6b-afb7-62bf24f8c79f.JPG" alt="">
										</div>
									</a>
								</div>
							</div>
						</li>
						<script type="text/javascript">
						// 体现静态页面效果增加的JS，引用需删除
						// 循环'.newpro-bd' 下的 '.newpro-bd-list' X4；
						$(function(){
							var num = 4;//设定循环后总数
							for(i=1;i<=num-1;i++){
								$('.newpro-bd .newpro-bd-list').append($('.newpro-bd .newpro-bd-item:first').clone());
							}
						})
						</script>
					</ul>
				</div>
			</div>
		</div>
		<!-- brand-mian end -->
		<div class="preferential container">
			<div class="preferential-hd">
				<h2 class="column-title">FUSHION BABY 每月特惠</h2>
				<span class="new">Preferential</span>
				<div class="more">
					<a class="more-btn" href="preferential.html">
						<span>更多</span>
					</a>
				</div>
			</div>
			<div class="preferential-bd">
				<div class="newpro-bd-wrapper">
					<ul class="newpro-bd-list">
						<li class="newpro-bd-item">
							<div class="newpro-bd-column nbc-current icon-gift">
								<span class="item-info">
								<span class="item-title"><a href="details.html">baby1阶段天然硅胶奶嘴</a></span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img class="bttrlazyloading" data-bttrlazyloading-lg-src="http://filepic.fushionbaby.com/img/sku/110603d/110603d_w_p_l_ff4b85c8-244b-4a6f-bbd3-944f91ca9ead.JPG">
										</div>
									</a>
								</div>
							</div>
							<div class="newpro-bd-column">
								<span class="item-info">
								<span class="item-title"><a href="details.html">baby1阶段天然硅胶奶嘴</a></span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img class="bttrlazyloading" data-bttrlazyloading-lg-src="http://filepic.fushionbaby.com/img/sku/110603d/110603d_w_p_l_ff4b85c8-244b-4a6f-bbd3-944f91ca9ead.JPG">
										</div>
									</a>
								</div>
							</div>
							<div class="newpro-bd-column">
								<span class="item-info">
								<span class="item-title"><a href="details.html">baby1阶段天然硅胶奶嘴</a></span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img class="bttrlazyloading" data-bttrlazyloading-lg-src="http://filepic.fushionbaby.com/img/sku/110603d/110603d_w_p_l_ff4b85c8-244b-4a6f-bbd3-944f91ca9ead.JPG">
										</div>
									</a>
								</div>
							</div>
							<div class="newpro-bd-column">
								<span class="item-info">
								<span class="item-title"><a href="details.html">baby1阶段天然硅胶奶嘴</a></span>
								<span class="item-price">&yen;180元<del>230</del></span>
								<span class="item-price eva">已有<span>1215</span>人评价</span>
								</span>
								<div class="item-thumb">
									<a href="details.html">
										<div class="verticalAlign">
											<img class="bttrlazyloading" data-bttrlazyloading-lg-src="http://filepic.fushionbaby.com/img/sku/110603d/110603d_w_p_l_ff4b85c8-244b-4a6f-bbd3-944f91ca9ead.JPG">
										</div>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- newpro end -->
		<div class="brand-main container">
			<div class="brand-hd clearfix">
				<h2 class="column-title">FUSHION BABY 品牌</h2>
				<span class="brand">Brand</span>
				<div class="more">
					<a class="more-btn" href="online-list.html">
						<span>更多</span>
					</a>
				</div>
			</div>
			<div class="brand-bd">
				<div class="newpro-bd-l">
					<div class="brand-logo">
						<a class="brand-img" href="javascript:">
							<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/02.jpg">
						</a>
						<a class="brand-img" href="javascript:">
							<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/02.jpg">
						</a>
						<a class="brand-img" href="javascript:">
							<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/02.jpg">
						</a>
						<a class="brand-img" href="javascript:">
							<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/02.jpg">
						</a>
						<a class="brand-img" href="javascript:">
							<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/02.jpg">
						</a>
						<a class="brand-img" href="javascript:">
							<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/02.jpg">
						</a>
					</div>
				</div>
				<div class="newpro-bd-r">
					<dl class="hot-seniority">
						<dt class="hot-title">
						<h3>热销商品<span class="hot">Hot</span></h3>
						</dt>
						<dd class="hot-list">
						<span class="item-num">1</span>
						<span class="item-info">
						<a href="details.html" title="天然硅胶奶嘴">天然硅胶奶嘴</a>
						</span>
						<span class="item-thumb">
						<a class="item-img" href="details.html">
							<div class="verticalAlign_hot">
								<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/item-thumb-1.gif" alt="天然硅胶奶嘴">
							</div>
						</a>
						</span>
						</dd>
						<dd class="hot-list">
						<span class="item-num">2</span>
						<span class="item-info">
						<a href="details.html">天然硅胶奶嘴</a>
						</span>
						<span class="item-thumb">
						<a class="item-img" href="details.html">
							<div class="verticalAlign_hot">
								<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/item-thumb-1.gif" alt="天然硅胶奶嘴">
							</div>
						</a>
						</span>
						</dd>
						<dd class="hot-list">
						<span class="item-num">3</span>
						<span class="item-info">
						<a href="details.html">天然硅胶奶嘴</a>
						</span>
						<span class="item-thumb">
						<a class="item-img" href="details.html">
							<div class="verticalAlign_hot">
								<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/item-thumb-11.gif" alt="天然硅胶奶嘴">
							</div>
						</a>
						</span>
						</dd>
						<dd class="hot-list">
						<span class="item-num item-num-last">4</span>
						<span class="item-info">
						<a href="details.html">天然硅胶奶嘴</a>
						</span>
						<span class="item-thumb">
						<a class="item-img" href="details.html">
							<div class="verticalAlign_hot">
								<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/item-thumb-1.gif" alt="天然硅胶奶嘴">
							</div>
						</a>
						</span>
						</dd>
						<dd class="hot-list">
						<span class="item-num item-num-last">5</span>
						<span class="item-info">
						<a href="details.html">天然硅胶奶嘴</a>
						</span>
						<span class="item-thumb">
						<a class="item-img" href="details.html">
							<div class="verticalAlign_hot">
								<img class="bttrlazyloading" data-bttrlazyloading-lg-src="images/item-thumb-1.gif" alt="天然硅胶奶嘴">
							</div>
						</a>
						</span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部 -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共侧边导航 -->

		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/scroll.js"></script><!-- 首页商品列表板块轮播JS -->
		<script type="text/javascript" src="js/index-lunbo.js"></script><!-- 首页banner轮播JS -->
		<script type="text/javascript" src="js/slider.js"></script><!-- 首页banner下方轮播板块JS -->
		<script type="text/javascript">
			$(window).load(function(){
				var option = {
					prev:"#banner_prev", //上一张按钮，默认为null
					next:"#banner_next",//下一张按钮，默认为null
					nav:'.scroll_nav',//轮播导航，默认为null,当为null时，自动生成导航。
					auto:false//是否自动轮显，默认为true
				};
				$("#scroll_box").baisonSlider(option);
			})
		</script>

		<script type="text/javascript" src="js/jquery.bttrlazyloading.min.js"></script><!-- 延迟加载JS文件 -->
		<!--[if lt IE8]>
			<script>
				$(function(){
					$('.bttrlazyloading').each(function(){
			    	$(this).attr({'src':$(this).attr('data-bttrlazyloading-lg-src')});
			    })
				})
			</script>
		<![endif]-->
		<script type="text/javascript">
		  $(".bttrlazyloading").bttrlazyloading({placeholder:'images/lazyload.gif'});
		</script>
		<script>
			$(window).load(function(){
				/*动态修改样式*/
				$(".box_163css li").each(function(){
					$(this).find(".banner-box").eq(0).css("border-left","none");
				})
				/*二级分类框弹出*/
			  $('.drap-wrap').hover(function(){
			  	$('.hide_nav').css({'visibility':'visible'}).animate({'left':'258px','opacity':'1'},200);
			  },function(){
			  	$('.hide_nav').animate({'left':'0','opacity':'0'},200);
			  	setTimeout(function(){
			  		$('.hide_nav').css({'visibility':'hidden'});
			  	},200);
			  });

			  /*切换分类框*/
			  $('.navl').hover(function(){
			  	$('.hide_nav ul').eq($(this).index()).show().animate({'margin-left':'0','opacity':'1'},400).siblings().hide();
			  },function(){
			  	$('.hide_nav ul').eq($(this).index()).siblings().css({'margin-left':'-100px'});
			  })

				/*一级导航添加对应的三角图标*/
			  $('.hide_nav ul').hover(function(){
			  	$('.navl').eq($(this).index()).addClass("nav_current");
			  },function(){
			  	$('.navl').eq($(this).index()).removeClass("nav_current");
			  })

			  $('.navl').hover(function(){
			  	$(this).addClass("nav_current");
			  },function(){
			  	$(this).removeClass("nav_current");
			  })

				/*动态调整二级菜单宽度，高度，行距 及 三级菜单宽度*/
				/*$(".hide_nav ul").each(function(){
					var selfArray = [];
					var selfLength = $(this).find(".hide_nav_tit").length;
					for(i = 0;i < selfLength;i++){
						selfArray[i] = $(this).find(".hide_nav_tit").eq(i).width();
					}
					Array.prototype.max=function(){
					  return Math.max.apply({},this);
					}
					$(this).find(".hide_nav_tit").width(selfArray.max()+1);
					$(this).find(".a_wrap").width(696-10-1-selfArray.max());
					console.log(selfArray.max());
				});
			  $(".hide_nav_tit").each(function(){
			  	var this_h = $(this).siblings(".a_wrap").height()+"px";
			  	$(this).css({"height":this_h,"line-height":this_h});
			  })*/
			})
		</script>
	</body>
</html>