<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script type="text/javascript" src="device.min.js"></script>
		<script type="text/javascript">
			window.onload=function(){
				if(device.iphone()){
					window.location.href="https://itunes.apple.com/us/app/dou-shi-bao/id953358017?mt=8";
				}
				else if(device.android())
				{
					window.open("http://www.mobovip.com/wp/downloads/BGR/BGR.apk");
				}
			}
		</script>
	</head>
	<body>
	</body>
</html>