<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>404 Not-Found</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet" href="css/404-none.css">
	</head>
	<body>
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- 404 begin -->
		<div class="container">
			<div class="not-found">
				<span class="logo-gif"></span>
				<div class="err">
					<span>没有你搜索的商品 QAQ</span>
					<em></em>
				</div>
				<div class="content">
					<p>您可以稍后再试，或者 <a href="index.html">返回首页</a>。</p>
					<p class="enter">快速通道：</p>
					<p class="list">
					<a href="javascript:">安全座椅</a>
					<a href="javascript:">童车</a>
					<a href="javascript:">洗护用品</a>
					<a href="javascript:">喂养用品</a>
					<a href="javascript:">玩具</a>
					</p>
				</div>
			</div>
		</div>
		<!-- toy end -->
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->

		<script type="text/javascript" src="js/base.js"></script>
	</body>
</html>