<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>全部订单 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/persona-order.css">
		<style>
			.all{color: #0089A8;}
			.pay{background-position: -34px -81px;}
		</style>
	</head>
	<body>
		<div class="order-main">
			<div class="main-r-bd">
				<dl>
					<dd>
					<div class="order-info">
						<a class="pay-wrap" href="order.html">
							<div class="pep-pic pic-info pay">
							</div>
							<p class="order-info-desc all">全部订单</p>
						</a>
					</div>
					</dd>
					<dd>
					<div class="order-info">
						<a class="send-wrap" href="obligation.html">
							<div class="pep-pic pic-info send">
							</div>
							<p class="order-info-desc">待付款</p>
						</a>
					</div>
					</dd>
					<dd>
					<div class="order-info">
						<a class="sended-wrap" href="receive.html">
							<div class="pep-pic pic-info sended">
							</div>
							<p class="order-info-desc">待收货</p>
						</a>
					</div>
					</dd>
					<dd>
					<div class="order-info">
						<a class="discuss-wrap" href="evaluate.html">
							<div class="pep-pic pic-info discuss">
							</div>
							<p class="order-info-desc">待评价</p>
						</a>
					</div>
					</dd>
				</dl>
			</div>
			<table class="order-table">
				<tbody>
					<tr class="title-list">
						<th class="col0"></th>
						<th class="t-title col1">商品</th>
						<th class="t-title col2">单价(元）</th>
						<th class="t-title col3">数量</th>
						<th class="t-title col4">总计（元）</th>
						<th class="t-title col5">订单状态</th>
						<th class="t-title col6">操作</th>
					</tr>
					<tr class="order-list">
						<td colspan="6">
							<span class="order-oder-num">
							订单编号：125547826975813543
							</span>
							<span class="order-oder-time">
							下单日期：2014-09-12 08:00
							</span>
						</td>
						<td class="order-detail"></td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">230.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">230.00</td>
						<td class="con-list status">已关闭</td>
						<td class="con-list order-detail">
							<a href="order-detail.html" target="iframepage">订单详情</a>
						</td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">230.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">230.00</td>
						<td class="con-list status">已关闭</td>
						<td class="con-list order-detail">
						</td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">230.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">230.00</td>
						<td class="con-list status">已关闭</td>
						<td class="con-list order-detail">
						</td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">230.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">230.00</td>
						<td class="con-list status">已关闭</td>
						<td class="con-list order-detail">
						</td>
					</tr>
					<tr class="order-ft">
						<td colspan="7">
							<div class="order-ft-l">
								<div class="colse-order">
									订单已关闭
								</div>
								<div class="del-order">
									<i></i>
									<a href="javascript:">删除这个订单</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody class="empty">
					<tr>
						<td colspan="7"></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="order-list">
						<td colspan="6">
							<span class="order-oder-num">
							订单编号：125547826975813543
							</span>
							<span class="order-oder-time">
							下单日期：2014-09-12 08:00
							</span>
						</td>
						<td class="order-detail"></td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">230.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">230.00</td>
						<td class="con-list status status-hold">等待付款</td>
						<td class="con-list order-detail">
							<a href="order-detail.html" target="iframepage">订单详情</a>
						</td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">230.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">230.00</td>
						<td class="con-list status status-hold">等待付款</td>
						<td class="con-list order-detail">
						</td>
					</tr>
					<tr class="order-ft">
						<td colspan="7">
							<!-- 这两个是一个选择状态 只会选择其一 要不然就是订单超时关闭  要不然就是订单在时间之内不付款将要关闭-->
							<!-- <div class="order-ft-l">
									<div class="colse-order">
											订单已关闭
									</div>
									<div class="del-order">
											<i></i>
											<a href="javascript:">删除这个订单</a>
									</div>
							</div> -->
							<div class="order-ft-l">
								<div class="time-wrap">
									24小时订单将自动关闭,请尽快完成支付！
								</div>
							</div>
							<div class="order-ft-r">
								<a class="pay-btn go-pay" href="checkout-list.html">去付款</a>
								<a class="pay-btn cancel-order" href="javascript:void(0);">取消订单</a>
								<div class="act-pay">
									<span class="amount">实付款：</span>
									<span class="tot">&yen;</span>
									<span class="tot">230.00</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody class="empty">
					<tr>
						<td colspan="7"></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="order-list">
						<td colspan="6">
							<span class="order-oder-num">
							订单编号：125547826975813543
							</span>
							<span class="order-oder-time">
							下单日期：2014-09-12 08:00
							</span>
						</td>
						<td class="order-detail"></td>
					</tr>
					<tr class="order-con">
						<td colspan="2" class="con-1">
							<div class="order-goods">
								<a href="order-goods-item">
									<img src="images/order-list01.gif" alt="">
								</a>
							</div>
							<div class="order-tex">
								<p><a href="javascript:">easy swaddles 简易型襁褓包巾, 透气.有助于降低过热的风险</a></p>
								<div class="order-tex-bd">
									<div class="size">尺寸:M</div>
									<div class="color">颜色:丛林演奏</div>
								</div>
							</div>
						</td>
						<td class="con-list pri">420.00</td>
						<td class="con-list amount">1</td>
						<td class="con-list tot">420.00</td>
						<td class="con-list status status-hold">等待付款</td>
						<td class="con-list order-detail"><a href="order-detail.html">订单详情</a></td>
					</tr>
					<tr class="order-ft">
						<td colspan="7">
							<!-- 这两个是一个选择状态 只会选择其一 -->
							<!-- <div class="order-ft-l">
									<div class="colse-order">
											订单已关闭
									</div>
									<div class="del-order">
											<i></i>
											<a href="javascript:">删除这个订单</a>
									</div>
							</div> -->
							<div class="order-ft-l">
								<div class="time-wrap">
									24小时订单将自动关闭,请尽快完成支付！
								</div>
							</div>
							<div class="order-ft-r">
								<a class="pay-btn go-pay" href="checkout-list.html">去付款</a>
								<a class="pay-btn cancel-order" href="javascript:void(0);">取消订单</a>
								<div class="act-pay">
									<span class="amount">实付款：</span>
									<span class="tot">&yen;</span>
									<span class="tot">230.00</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="collect-page-wrap ord-det clearfix">
			<div class="collect-page">
				<span class="page-num">共<span>18</span>页</span>
				<a href="javascript:" class="page-arrow iconfont"></a>
				<a href="javascript:" class="page-list page-list-current">1</a>
				<a href="javascript:" class="page-list">2</a>
				<a href="javascript:" class="page-list">3</a>
				<a href="javascript:" class="page-arrow iconfont">&#xe604;</a>
			</div>
		</div>
		<script>
		$(function(){
			$(".cancel-order").click(function(){
				$(".pop-up-black",parent.document).fadeIn();
			});
			$(".pop-up-cancel",parent.document).click(function(){
				$(".pop-up-black",parent.document).fadeOut();
			});
		})
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".if2",parent.document).addClass('list-current');
				});
		</script>
		<script type="text/javascript" src="js/persona-order.js"></script>
	</body>
</html>