<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>【户外活动】-亲子活动_家庭活动_宝贝互动</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"><!-- 浏览器标签图标 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/children.css">
		<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
	</head>
	<body>
		<!--[if IE 6]>
		<script src="js/iepng.js" type="text/javascript"></script>
		<script type="text/javascript">
		EvPNG.fix('div,ul,img,li,input,span,b,h1,h2,h3,h4,a');
		</script>
		<![endif]-->
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- main begin -->
		<div class="main container">
			<div class="main-hd">
				会员增值>>
				<a class="menu" href="outside.html">户外活动>></a>
				<a href="outside-art.html">让我们在春天相遇吧</a>
			</div>
			<div class="main-bd">
				<div class="banner container" id="banner">
					<img src="images/banner.gif" alt="圣诞快乐">
				</div>
			</div>
			<div class="gray-line"></div>
		</div>
		<div class="art-main container clearfix">
			<div class="art-main-hd clearfix">
				<div class="art-main-l">
					<a href="javascript:" class="big-wrap">
						<img src="images/art-list0.gif" alt="">
					</a>
				</div>
				<div class="art-main-r">
					<h6>
					孩子们明亮的眼睛捕捉着美丽的春天，他们全身心地融入了春的美景中，感受着春天给他们带来的快乐以及大自然的魅力
					</h6>
					<div class="art-main-r-bd">
						<p class="timer clearfix">
						<span class="time-beg">
						<span class="tim-1">活动地点</span>
						<span class="tim-2">：2014.09.30</span>
						</span>
						<span class="time-ove">
						<span class="tim-1">报名截止</span>
						<span class="tim-2">：2014.09.30</span>
						</span>
						</p>
						<p class="location clearfix">
						<span class="location-txt">活动地点：江苏省苏州市<span class="loc-are">工业园区金鸡湖风景区</span></span>
						<span class="map"></span>
						</p>
						<div class="activity-wrap">
							<form action="" id="act-user-info">
								<div class="user-info mob clearfix">
									<span>您的手机号码:</span>
									<input type="text" placeholder="请输入您的手机号"/>
								</div>
								<div class="user-info num clearfix">
									<span>请选择参加人数:</span>
									<select name="" id="" class="address-prov">
										<option select="select" value="">1</option>
										<option value="">2</option>
										<option value="">3</option>
										<option value="">4</option>
										<option value="">5</option>
									</select>
								</div>
							</form>
						</div>
						<div class="ent-btn">
							<button>确定</button>
						</div>
					</div>
				</div>
			</div>
			<div class="art-main-bd">
				<p class="tit">活动目的</p>
				<div class="txt-wrap">
					家长和孩子牵手投身大自然，相伴走进大社会，开阔孩子视野，密切亲子感情，密切家园关系，促进家园合作。亲子活动通过亲子群体间的活动交流，增进亲情，增进家长
					及孩子间的感情，以提高孩子的综合能力，增强家长与孩子之间的透明度、信任度，更好地发展儿童的社会交往能力。帮助家长营造与孩子间的交流、交往，从而促进孩子
					健康成长的氛围。提高家长育儿的理念和技能，促进孩子的健康成长指导家长和孩子开展有情趣的亲子游戏活动，使孩子在欢乐的游戏中长身体、开心智。
					事先分组，三人一组。二人扮大树，面对对方，伸出双手搭成一个圆圈；一人扮松鼠，并站在圆圈中间；培训师或其它没成对的学员担任临时人员。培训师喊松鼠大树不能
					动，扮松鼠的人就必须离开原来的大树，重新选择其他的大树；培训师或临时人员就临时扮演松鼠并插到大树当中，
					家长和孩子牵手投身大自然，相伴走进大社会，开阔孩子视野，密切亲子感情，密切家园关系，促进家园合作。亲子活动通过亲子群体间的活动交流，增进亲情，增进家长
					及孩子间的感情，以提高孩子的综合能力，增强家长与孩子之间的透明度、信任度，更好地发展儿童的社会交往能力。帮助家长营造与孩子间的交流、交往，从而促进孩子
					健康成长的氛围。提高家长育儿的理念和技能，促进孩子的健康成长指导家长和孩子开展有情趣的亲子游戏活动，使孩子在欢乐的游戏中长身体、开心智。
					事先分组，三人一组。二人扮大树，面对对方，伸出双手搭成一个圆圈；一人扮松鼠，并站在圆圈中间；培训师或其它没成对的学员担任临时人员。培训师喊松鼠大树不能
					动，扮松鼠的人就必须离开原来的大树，重新选择其他的大树；培训师或临时人员就临时扮演松鼠并插到大树当中，群体间的活动交流，增进亲情，增进家长
					及孩子间的感情，以提高孩子的综合能力，增强家长与孩子之间的透明度、信任度，更好地发展儿童的社会交往能力。帮助家长营造与孩子间的交流、交往，从而促进孩子
					健康成长的氛围。提高家长育儿的理念和技能，促进孩子的健康成长指导家长和孩子开展有情趣的亲子游戏活动，使孩子在欢乐的游戏中长身体、开心智。
					事先分组，三人一组。二人扮大树，面对对方，伸出双手搭成一个圆圈；一人扮松鼠，并站在圆圈中间；培训师或其它没成对的学员担任临时人员。培训师喊松鼠大树不能
					动，扮松鼠的人就必须离开原来的大树，重新选择其他的大树；培训师或临时人员就临时扮演松鼠并插到大树当中，群体间的活动交流，增进亲情，增进家长
					及孩子间的感情，以提高孩子的综合能力，增强家长与孩子之间的透明度、信任度，更好地发展儿童的社会交往能力。帮助家长营造与孩子间的交流、交往，从而促进孩子
					健康成长的氛围。提高家长育儿的理念和技能，促进孩子的健康成长指导家长和孩子开展有情趣的亲子游戏活动，使孩子在欢乐的游戏中长身体、开心智。
					事先分组，三人一组。二人扮大树，面对对方，伸出双手搭成一个圆圈；一人扮松鼠，并站在圆圈中间；培训师或其它没成对的学员担任临时人员。培训师喊松鼠大树不能
					动，扮松鼠的人就必须离开原来的大树，重新选择其他的大树；培训师或临时人员就临时扮演松鼠并插到大树当中，
				</div>
			</div>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->
	</body>
</html>