<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>【户外活动】-亲子活动_家庭活动_宝贝互动</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"><!-- 浏览器标签图标 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/children.css">
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/scroll.js"></script>
	</head>
	<body>
		<!--[if IE 6]>
		<script src="js/iepng.js" type="text/javascript"></script>
		<script type="text/javascript">
		EvPNG.fix('div,ul,img,li,input,span,b,h1,h2,h3,h4,a');
		</script>
		<![endif]-->
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- main begin -->
		<div class="main container">
			<div class="main-hd">
				会员增值>>
				<a href="outside.html">户外活动</a>
			</div>
			<div class="main-bd">
				<div class="banner container" id="banner">
					<a href="outside-art.html">
						<img src="images/banner.gif" alt="圣诞快乐">
					</a>
				</div>
			</div>
			<div class="gray-line"></div>
			<div class="pic-list">
				<a href="outside-art.html">
					<img src="images/huwai_r8_c3.jpg" alt="">
					<!-- <div class="pic-info pic-desc">
							<p class="info-hd">开拓宝宝知识</p>
							<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
							<p class="info-bd">每个宝宝都是天使</p>
							<a href="javascript:" class="more more-desc">详细>>></a>
					</div> -->
				</a>
			</div>
			<div class="dash-line"></div>
			<div class="pic-list pic-2">
				<a href="outside-art.html">
					<img src="images/huwai_r8_c4.gif" alt="">
					<!-- <div class="pic-info pic-2-desc">
							<p class="info-hd">开拓宝宝知识</p>
							<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
							<p class="info-bd">每个宝宝都是天使</p>
							<a href="javascript:"class="more more-desc">详细>>></a>
					</div> -->
				</a>
			</div>
			<div class="dash-line"></div>
			<div class="pic-list pic-3">
				<a href="outside-art.html">
					<img src="images/huwai_r8_c5.gif" alt="">
					<!-- <div class="pic-info pic-3-desc">
							<p class="info-hd">开拓宝宝知识</p>
							<p class="info-bd">让您更加了解您的宝宝的相关知识</p>
							<p class="info-bd">每个宝宝都是天使</p>
							<a href="javascript:"class="more more-desc">详细>>></a>
					</div> -->
				</a>
			</div>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->
	</body>
</html>