<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>【亲子课程】-母婴知识,资讯_宝贝讲堂_宝贝成长计划</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/children.css">
	</head>
	<body>
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- main begin -->
		<div class="main container">
			<div class="main-hd">
				<a class="menu" href="javascript:">会员增值>></a>
				<a class="menu" href="javascript:">亲子活动>></a>
				<a href="javascript:">开拓宝宝相识</a>
			</div>
			<div class="main-bd">
				<div class="banner container" id="banner">
					<img src="images/banner.gif" alt="圣诞快乐">
				</div>
			</div>
		</div>
		<div class="par-chi-main container">
			<div class="art-main-bd">
				<h2>开拓宝宝相识</h2>
				<div class="txt-wrap content">
					<ul>
						<li>
							<h3>1、相识环节：</h3>
							<p>宝宝可以大方的在众人的面前介绍自己的名字、年龄和性别，当孩子不说或不敢说或
							是不愿意说时，面对亲子园轻松的环境和来自专业亲子教师的鼓励，往往能够得到在家庭中无法获得的效果。
							</p>
						</li>
						<li>
							<h3>2、语言环节：</h3>
							<p>1岁到3岁，是幼儿语言发育的关键期，对任何事物都充满了好奇心，这是求知的表
							现，是智能发育到这个阶段的特征，发音只要有一个突破就好、很多孩子就是在我们
							的课堂上发出了第一个音，及时给孩子很大的肯定，宝宝就会有一丝成就感，就会很
							兴奋地连续发音，正好在幼儿的语言敏感期得到了很好的发展，效果会更佳。在课程
							中以适合幼儿年龄特点的儿歌、歌曲形式出现。</p>
						</li>
						<li>
							<h3>3、感统环节：</h3>
							<p>由于剖腹产宝宝的增多及家中成人的过度保护等原因，所以幼儿出现感觉统合失调的
							现象随之增多，在生活体现为：晕车、晕船、好动、注意力不集中或集中时间短暂，
							不合群等表现……通过课程中游戏性质的感觉统合训练，能够得到改善，效果明显。</p>
						</li>
						<li>
							<h3>4、认知环节：</h3>
							<p>在宝宝的大动作练习的同时，宝宝的自控和专注力就会相对弱起来。根据孩子这个年
							龄段时期的特点，我们也安排了相对安静的活动：通过教具运用在手部肌肉精细动作
							的训练游戏中，让宝宝的专注力，小手肌肉的精细练习同时得到良好的发展。如对幼
							儿以后学习拿笔（学习习惯）、拿勺、拿筷子（生活自理能力）、关心他人、认知能力
							等方面都能得到较好的锻炼。而且课程中教具示范性强，方法易行，家长可以很轻易
							地在家中对幼儿进行巩固练习。</p>
						</li>
						<li>
							<h3>5、过渡课程：</h3>
							<p>宝宝在2岁左右的年龄段，自己的思维已经日趋明确，上幼儿园也是一大关，人际交
							往对宝宝是一个重点，我们的课程就会主要针对此项活动，进行练习。通过对幼儿园
							教师的了解，上过亲子园课程的幼儿在熟悉新环境、融入集体生活的速度都比未经过
							亲子园课程的幼儿要快。也能够在很大幅度上帮助家长减少后顾之忧。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
						<li>
							<h3>课程特点</h3>
							<p>动静结合得当，课上动静结合的游戏，回家也可方便家长根据宝宝的特点相应地进行
							训练学习。</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="par-chi-main-r">
				<h2>留言与交流</h2>
				<ul>
					<li>
						<p>
						<a href="javascript:"  class="user-name">#竹兜育儿#</a>宝宝螃蟹爬行大解析！宝宝螃蟹爬行，可能是没有掌握好手脚，特别
						是叫的用力方式以及方向。爸爸或者爸爸可以用手顶着宝宝的较低，是他有东西等
						着，易于往前爬，注意距离要适当，不要让宝宝感到太困难而失去兴趣。
						</p>
						<p class="par-user-info"><span class="time"><span class="date">2014/09/16</span> <span class="hour">16：00</span></span><span class="from">来自于<em>爱兜宝</em></span></p>
					</li>
					<li>
						<p>
						<a href="javascript:"  class="user-name">#竹兜育儿#</a>宝宝螃蟹爬行大解析！宝宝螃蟹爬行，可能是没有掌握好手脚，特别
						是叫的用力方式以及方向。爸爸或者爸爸可以用手顶着宝宝的较低，是他有东西等
						着，易于往前爬，注意距离要适当，不要让宝宝感到太困难而失去兴趣。
						</p>
						<p class="par-user-info"><span class="time"><span class="date">2014/09/16</span> <span class="hour">16：00</span></span><span class="from">来自于<em>爱兜宝</em></span></p>
					</li>
					<li>
						<p>
						<a href="javascript:" class="user-name">#竹兜育儿#</a>宝宝螃蟹爬行大解析！宝宝螃蟹爬行，可能是没有掌握好手脚，特别
						是叫的用力方式以及方向。爸爸或者爸爸可以用手顶着宝宝的较低，是他有东西等
						着，易于往前爬，注意距离要适当，不要让宝宝感到太困难而失去兴趣。
						</p>
						<p class="par-user-info"><span class="time"><span class="date">2014/09/16</span> <span class="hour">16：00</span></span><span class="from">来自于<em>爱兜宝</em></span></p>
					</li>
					<li>
						<p>
						<a href="javascript:" class="user-name">#竹兜育儿#</a>宝宝螃蟹爬行大解析！宝宝螃蟹爬行，可能是没有掌握好手脚，特别
						是叫的用力方式以及方向。爸爸或者爸爸可以用手顶着宝宝的较低，是他有东西等
						着，易于往前爬，注意距离要适当，不要让宝宝感到太困难而失去兴趣。
						</p>
						<p class="par-user-info"><span class="time"><span class="date">2014/09/16</span> <span class="hour">16：00</span></span><span class="from">来自于<em>爱兜宝</em></span></p>
					</li>
				</ul>
				<div class="page-wrap">
					<div class="page">
						<span class="page-txt">共<span>18</span>页</span>
						<a href="javascript:" class="page-arrow iconfont"></a>
						<a href="javascript:" class="page-list page-list-current">1</a>
						<a href="javascript:" class="page-list">2</a>
						<a href="javascript:" class="page-list">3</a>
						<a href="javascript:" class="page-arrow iconfont">&#xe604;</a>
					</div>
				</div>
				<div class="announce-wrap clearfix">
					<div class="announce-l">
						<div class="u-photo">
						</div>
						<div class="ann-user-name">爱兜宝</div>
					</div>
					<div class="announce-r">
						<form action="">
							<textarea name="" id="" placeholder="请输入您要发表的内容"></textarea>
							<div class="ann-btn">
								<button>发表</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->

		<script src="js/base.js"></script>
		<script src="js/persona-order.js"></script>
	</body>
</html>