<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>密码修改 - Fushionbaby </title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet"  href="css/persona-order.css">
	</head>
	<body>
		<div class="pass-mod">
		<h3 class="center-title">密码修改</h3>
			<form action="">
				<div class="info-list clearfix">
					<div class="info-list-l genera">当前密码</div>
					<div class="info-list-r">
						<input type="text" class="pet-info" placeholder="输入当前密码"/>
					</div>
				</div>
				<div class="info-list clearfix">
					<div class="info-list-l user-name">输入新密码</div>
					<div class="info-list-r">
						<input type="text" class="pet-info" placeholder="输入新的密码"/>
					</div>
				</div>
				<div class="info-list clearfix">
					<div class="info-list-l user-name">确认新密码</div>
					<div class="info-list-r">
						<input type="text" class="pet-info" placeholder="再次输入新的密码"/>
					</div>
				</div>
				<a class="mod-btn info-desc">确认修改</a>
				<div class="pass-check">
					<!-- <div class="close"></div> -->
					<p class="desc-info">密码修改成功</p>
					<button class="pay-btn con-ec pass-change">确定</button>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".if6",parent.document).addClass('list-current');
				$(".if1",parent.document).removeClass('list-current');
				});
		</script>
		<script type="text/javascript" src="js/persona-order.js"></script>
	</body>
</html>