<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>支付页面 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet" href="css/public.css">
		<link rel="stylesheet"  href="css/checkout-list.css">
		<link rel="stylesheet"  href="css/404-none.css">
	</head>
	<body>
		<script type="text/javascript" src="ftl/topbar.js"></script><!-- 公共顶部JS -->
		<script type="text/javascript" src="ftl/header.js"></script><!-- 公共头部JS -->
		<!-- address -->
		<div class="address container">
			<form action="#">
				<!-- 404 begin -->
				<div class="container">
					<div class="not-found">
						<span class="logo-gif"></span>
						<div class="err">
							<span>支付失败</span>
							<em></em>
						</div>
						<div class="content">
							<p>您可以 <a href="#">重新付款</a>，或者返回 <a href="#">确认订单页面</a>。</p>
							<p class="enter">快速通道：</p>
							<p class="list">
							<a href="javascript:">安全座椅</a>
							<a href="javascript:">童车</a>
							<a href="javascript:">洗护用品</a>
							<a href="javascript:">喂养用品</a>
							<a href="javascript:">玩具</a>
							</p>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="ftl/footer.js"></script><!-- 公共底部JS -->
		<script type="text/javascript" src="ftl/nav.js"></script><!-- 公共底部JS -->

		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/persona-order.js"></script>
		<script type="text/javascript" src="js/checked.js"></script>
	</body>
</html>