<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>个人中心 - Fushionbaby</title>
		<script src="ftl/publicHeadTags.js"></script><!-- 公共<head>标签 -->
		<link rel="stylesheet"  href="css/public.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet"  href="css/persona-order.css"></head>
		<body>
			<div class="person-main">
				<div class="main-r-hd">
					<ul>
						<li class="list-user">
							<div class="pep-pic"><img src="images/default.png"></div>
							<div class="calculus">
								<p><span class="user-name">823425525@qq.com</span></p>
								<p>我的兜米：<span class="calculus-num">6000</span></p>
							</div>
						</li>
						<li class="list-info add_li">
							<div class="list-pic add"></div>
							<a class="tex-desc" href="add-ages.html">我的收货地址</a>
						</li>
						<li class="list-info pass_li">
							<div class="list-pic pass"></div>
							<a class="tex-desc" href="pass-mod.html">修改我的密码</a>
						</li>
					</ul>
				</div>
				<div class="center-div-r fl">
					<div class="rank fl">
						<span>会员等级：</span>
						<a href="javascript:void(0);">幼儿园</a>
					</div>
					<div class="sign fl">
						<span>已连续签到 <i>15</i> 天</span>
						<a class="qiandao_btn qiandao_btn_enabled" href="javascript:void(0);">签到领兜米</a>
						<div class="msg_hide">
							<p>兜米 +<i></i></p>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					$(".if1",parent.document).addClass('list-current');

					$('.qiandao_btn_enabled').click(function(){
						$('.qiandao_btn').unbind("click");
						$('.sign span i').html(parseInt($('.sign span i').html())+1);/*增加签到天数*/
						var add_doumi_num = 10;/*签到增加的兜米数量*/
						$('.msg_hide p i').html(add_doumi_num);
						$('.calculus-num').html(parseInt($('.calculus-num').html())+add_doumi_num);/*增加兜米*/
						/*开始动画*/
						$(this).addClass('qiandao_btn_disabled').html('今日已签到').removeClass('qiandao_btn_enabled');
						$('.msg_hide').fadeIn();
						setTimeout(function(){
							$('.msg_hide').css({'background-position':'18px -147px'});
						},2000);
						setTimeout(function(){
							$('.msg_hide').css({'background-position':'32px -223px'});
						},2025);
						setTimeout(function(){
							$('.msg_hide').css({'background-position':'-302px -63px'});
						},2050);
						setTimeout(function(){
							$('.msg_hide').css({'background-position':'-156px -63px'});
						},2075);
						setTimeout(function(){
							$('.msg_hide').fadeOut();
						},2100);
						setTimeout(function(){
							$('.msg_hide').css({'background-position':'0px -63px'});
						},2700);
					})
				});
			</script>
		</body>
	</html>