<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aladingshop.card.dao.MemberCardDao" >
  <resultMap id="MemberCardResultMap" type="MemberCard" >
    <id column="id" property="id" />
    <result column="member_id" property="memberId"/>
    <result column="code" property="code"/>
    <result column="card_no" property="cardNo" />
    <result column="password" property="password" />
    <result column="acount" property="acount" />
    <result column="card_config_id" property="cardConfigId" />
    <result column="total_corpus" property="totalCorpus" />
    
    <result column="total_rebate" property="totalRebate" />
    <result column="status" property="status" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="type" property="type" />
  </resultMap>
  <insert id="add" parameterType="MemberCard"> 
    insert into t_member_card (id, member_id, code, 
      card_no, password, acount, card_config_id, 
      total_corpus,total_rebate,status, create_time, 
      update_time)
    values (#{id}, #{memberId}, #{code}, 
      #{cardNo}, #{password}, #{acount}, #{cardConfigId}, 
      #{totalCorpus},#{totalRebate},#{status},now(),now())
  </insert>
  <delete id="deleteById"  parameterType="java.lang.Long">
    delete from t_member_card where id = #{id}
  </delete>
  
  <update id="update" parameterType="MemberCard">
    update t_member_card
    <set>
    	<if test="memberId!=null and memberId!=''">
    		member_id = #{memberId},
    	</if>
    	<if test="cardNo!=null and cardNo!=''">
    		card_no = #{cardNo},
    	</if>
    	<if test="password!=null and password!=''">
    		password = #{password},
    	</if>
    	<if test="cardConfigId!=null and cardConfigId!=''">
    		card_config_id = #{cardConfigId},
    	</if>
    	<if test="acount!=null and acount!=''">
    		acount = #{acount},
    	</if>
    	<if test="totalCorpus!=null and totalCorpus!=''">
    		total_corpus = #{totalCorpus},
    	</if>
    	<if test="totalRebate!=null and totalRebate!=''">
    		total_rebate = #{totalRebate},
    	</if>
    	<if test="status!=null and status!=''">
    		status = #{status},
    	</if>
    	<if test="type!=null and type!=''">
    		type = #{type},
    	</if>
    	<if test="updateTime!=null and updateTime!=''">
    		update_time = now()
    	</if>
    	<if test="updateTime==null or updateTime==''">
    		update_time = update_time
    	</if>
    </set>
    <where>
    	id = #{id}
    </where>
  </update>
  <sql id="Base_Column_List" >
  	select id, member_id, code, card_no, password, acount, card_config_id, total_corpus,total_rebate,status,create_time, update_time,type 
		 from t_member_card
  </sql>
  <select id="findAll" resultMap="MemberCardResultMap" resultType="list">
  	<include refid="Base_Column_List" />   ORDER BY update_time DESC
  </select> 
   <select id="findById" resultMap="MemberCardResultMap" parameterType="java.lang.Long" >
	   <include refid="Base_Column_List" />
	   <where>
	   		id=#{id}
	   </where>
  </select>
  
  	  <!-- 分页条件查询 -->
	<select id="getListPage" resultType="list" resultMap="MemberCardResultMap" parameterType="Map" >
	    <include refid="Base_Column_List" />
		<where>
			<if test="cardNo !=null and cardNo !=''">
	    	   AND  card_no=#{cardNo} 
	        </if>
			<if test="memberId !=null and memberId!=''">
	    	   AND  member_id=#{memberId} 
	        </if>
	        <if test="acount !=null and acount!=''">
	    	   AND  acount=#{acount} 
	        </if>
			<if test="createTimeFrom != null and createTimeFrom !=''">
	    	<![CDATA[
				and DATE_FORMAT(create_time,'%Y-%m-%d') >= DATE_FORMAT(#{createTimeFrom}, '%Y-%m-%d')
			]]>
		    </if>
			<if test="createTimeTo != null and createTimeTo != ''">
		    	<![CDATA[
					and DATE_FORMAT(create_time,'%Y-%m-%d') <= DATE_FORMAT(#{createTimeTo}, '%Y-%m-%d')
				]]>
		    </if>
		</where>
		  ORDER BY create_time DESC
		<![CDATA[
			LIMIT #{start},#{limit}
		]]>
	</select>
	<!-- 查询该表的总数  -->
	<select id="getTotal" parameterType="Map" resultType="java.lang.Integer">
		select  count(id) from t_member_card
		<where>
			<if test="cardNo !=null and cardNo !=''">
	    	   AND  card_no =#{cardNo} 
	        </if>
			<if test="memberId !=null and memberId!=''">
	    	   AND  member_id=#{memberId} 
	        </if>
			<if test="acount !=null and acount!=''">
	    	   AND  acount=#{acount} 
	        </if>
			<if test="createTimeFrom != null and createTimeFrom !=''">
	    	<![CDATA[
				and DATE_FORMAT(create_time,'%Y-%m-%d') >= DATE_FORMAT(#{createTimeFrom}, '%Y-%m-%d')
			]]>
		    </if>
			<if test="createTimeTo != null and createTimeTo != ''">
		    	<![CDATA[
					and DATE_FORMAT(create_time,'%Y-%m-%d') <= DATE_FORMAT(#{createTimeTo}, '%Y-%m-%d')
				]]>
		    </if>
		</where>
	</select>
   
   <!-- 获取当前用户卡列表  除去用户删除的卡-->	
   <select id="findByMemberId" resultType="list" resultMap="MemberCardResultMap" parameterType="java.lang.Long" >
  		<include refid="Base_Column_List" />
  			<where>
  				member_id=#{memberId} and status!='3'
  			</where>
  			  ORDER BY update_time DESC
  </select>
 
 <!--  根据用户id和储值卡编号查询储值卡信息 -->
  <select id="findByMemberIdCardNo" resultMap="MemberCardResultMap" parameterType="MemberCard">
  	<include refid="Base_Column_List" />
  	<where>
  		card_no = #{cardNo} and member_id = #{memberId} 
  	</where>
  </select> 
	
   <select id="findByCardCode" resultMap="MemberCardResultMap" parameterType="java.lang.String" >
   		<include refid="Base_Column_List" />
   		<where>
   			code=#{cardCode}  
   		</where>
  </select>
     <!--  定时任务中查询可返利的卡列表-->
  <select id="findTaskCardList" resultMap="MemberCardResultMap"  >
  select 
     	tm.id, tm.member_id, tm.code, tm.card_no, tm.password, tm.acount, tm.card_config_id, tm.total_corpus,tm.total_rebate,tm.status,tm.create_time, tm.update_time
	from 
		  t_member_card tm INNER JOIN t_member_card_config   tmc 

     where 
            tm.card_config_id=tmc.id 
     
     AND   tm.total_corpus>0  
     and   tm.status='1' 
     and  datediff(NOW(),tm.update_time)>=30 
     and  tmc.timeline >= period_diff(date_format(now(), '%Y%m'),date_format(tm.create_time, '%Y%m'))
  </select>
  
  <select id="findTaskExpire" resultMap="MemberCardResultMap">
  		select 
  		
  		   card.acount,card.card_config_id,card.card_no,card.code,card.create_time,card.id,card.member_id,card.password,card.status,card.total_corpus,card.total_rebate,card.type,card.update_time 
  		
  		from 
  		
  		    t_member_card  card LEFT JOIN t_member_card_config con on card.card_config_id = con.id 
  		
  		where    
  		
  		datediff(NOW(),card.create_time) >= 30 * con.timeline and card.status = '1'
  		
  		<!-- <where>
  			<![CDATA[ con.timeline <= TIMESTAMPDIFF(month, card.create_time,NOW()) ]]> and status = 1
  		</where> -->
  		
  		
  </select>
  
    <update id="updateRebate" parameterType="MemberCard">
    update t_member_card
    <set>
    	<if test="totalRebate!=null and totalRebate!=''">
    		total_rebate = #{totalRebate},
    	</if>
    	update_time = now()
    </set>
    <where>
    	id = #{id}
    </where>
  </update>
</mapper>