@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-01-05 12:56:12
 * @version $Id$
 */
 * {margin: 0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
.fl {float: left;}
.fr {float: right;}
.oh {overflow: hidden;}
li {list-style: none;}
body {font-family: "宋体";font-size: 14px;color: #000;}
.container {width: 1140px;margin: 0 auto;padding:20px 30px 0;}
.part {overflow: hidden;margin-top: 10px;}
.container .title {width: 595px;margin: 20px auto;}
.title .logo {width: 400px;height: 50px;background-size: 100%;}
.logo img {max-width:100%;}
.title .logo-tit {font-size: 46px;color: #000;font-family: "微软雅黑";line-height: 48px;padding-left: 10px;}
.group-wrap {float: left;width: 100%;}
.group {margin: 7px 0;float: left;}
.group strong {font-size: 20px;}
.group span {font-size:16px;display: inline-block; }
.group input {border: none;padding: 5px 0;font-size: 16px;outline: none;}
.col-3 .group {width: 33.33%;}
.col-3 .group input {width: 70%;}
.col-4 .group {width: 25%;}
.group-wrap .address {width: 50%;}
.group-wrap .address input {width: 80%;}
.group span i {margin-right: 3px;float: left;margin-top: 4px;}
.part .list {width: 100%;border-right: 1px solid #000;border-bottom: 1px solid #000;}
.list ul {overflow: hidden;}
.list ul li {float: left;border-top: 1px solid #000;border-left: 1px solid #000;font-size: 16px;text-align: center;height: 50px;line-height: 50px;}
.list ul .cell-2 {width: 100px;}
.list ul .cell-3 {width: 150px;}
.list ul .cell-4 {width: 200px;}
.list ul .cell-6 {width: 479px;}
.list ul .time {line-height:23px;}
.width100 {width:100% !important;}