<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fushionbaby.sku.dao.SkuHotDao">

	<resultMap id="skuMap" type="Sku">
		<id column="id" property="id" />
		<result column="product_code" property="productCode" />
		<result column="unique_code" property="uniqueCode"/>
		<result column="code" property="code" />
		<result column="color" property="color" />
		<result column="size" property="size" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="category_code" property="categoryCode" />
		<result column="brand_code" property="brandCode" />
		<result column="quota_num" property="quotaNum"/>
		<result column="showorder" property="showorder"/>
		<result column="description" property="description"/>
		<result column="create_id" property="createId"/>
		<result column="update_id" property="updateId"/>
		<result column="update_time" property="updateTime"/>
		<result column="create_time" property="createTime" />
	</resultMap>
	
	<select id="findHotSkuList" resultMap="skuMap" resultType="list"
		 			parameterType="skuEntryQueryCondition">
		SELECT 
			a.name,a.size,a.color,a.unique_code,a.product_code,a.category_code,a.brand_code
		FROM
			t_sku a 
		INNER JOIN 
			t_sku_extra_info b
		ON  
			a.unique_code = b.sku_code
		<where>
			<if test="status !=null and status != ''">
				and a.status = #{status}
			</if>
			<if test="skuCodeList !=null and skuCodeList.size() > 0">
				and a.unique_code in 
				<foreach collection="skuCodeList" index="index" item="skuCodeItem" open="(" separator="," close=")">
					#{skuCodeItem}
				</foreach>
			</if>
			
			<if test="categoryCodes!=null and categoryCodes.size()>0">
				and a.category_code in
				<foreach collection="categoryCodes" index="index" item="categoryCodeItem" open="(" separator="," close=")">
					#{categoryCodeItem}
				</foreach>
			</if>
			
			<if test="brandCode !=null and brandCode !=''">
				and a.brand_code = #{brandCode}
			</if>
		</where>

		ORDER BY b.sales_volume DESC,b.actual_sales_volume DESC,case when a.showorder=0 or a.showorder is null then 9999999 else a.showorder end 
		<if test="start !=null and start>-1">
			LIMIT #{start}
		</if>
		<if test="start !=null and start>-1 and limit !=null and limit !=''">
			,#{limit}
		</if>
	</select>
	
	
</mapper>