<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fushionbaby.sku.dao.SkuProductImageDao">
	<resultMap id="skuProductImageMap" type="skuProductImage">
		<id column="id" property="id" />
		<result column="product_code" property="productCode" />
		<result column="img_path" property="imgPath" />
		<result column="sort_order" property="sortOrder" />
		<result column="version" property="version" />
		<result column="is_disable" property="isDisable" />
		<result column="create_time" property="createTime" />
		<result column="create_id" property="createId" />
		<result column="update_time" property="updateTime" />
		<result column="update_id" property="updateId" />
		<result column="name" property="name" />
	</resultMap>
	
	
	<select id="findBySkuProductCode" resultMap="skuProductImageMap" parameterType="String">
		select 
			id,product_code,img_path,sort_order,version,is_disable,create_time,create_id,update_time,update_id
		from 
			t_sku_product_image
		where 
			product_code = #{productCode} and is_disable = 'y'
		order by sort_order asc
	</select>
	
	<select id="getListPage" resultType="list" resultMap="skuProductImageMap" parameterType="Map" >
			select 
				t1.*, t2.name
			from 
				t_sku_product_image t1
			inner join t_sku_product t2
			on t1.product_code = t2.code
		<where>
			<if test="productCode !=null and productCode !=''">
	    	   and product_code = #{productCode} 
	        </if>
		</where>
		<![CDATA[
			LIMIT #{start},#{limit}
		]]>
	</select>
	
	<select id="findAllBySkuProductCode" resultMap="skuProductImageMap" parameterType="String">
	select 
			id,product_code,img_path,sort_order,version,is_disable,create_time,create_id,update_time,update_id
		from 
			t_sku_product_image
		where 
			product_code = #{productCode} 
		order by sort_order asc
	</select>
	
	<select id="getTotal" resultType="java.lang.Integer" parameterType="String">
		select 
			count(1)
		from 
			t_sku_product_image t1
		inner join t_sku_product t2
		on t1.product_code = t2.code
		where 
			1 = 1
			<if test="productCode !=null and productCode !=''">
				and product_code = #{productCode} 
			</if>
		
	</select>
	
	<insert id="add" parameterType="skuProductImage">
		insert into t_sku_product_image
			(id,product_code,img_path,sort_order,version,is_disable,create_time,create_id,update_time,update_id)
		values(#{id},#{productCode},#{imgPath},#{sortOrder},now(),#{isDisable},#{createTime},#{createId},#{updateTime},#{updateId})
	</insert>
	<update id="update" parameterType="skuProductImage">
		update 
			t_sku_product_image
		set 
			version = now()
			<if test="productCode !=null and productCode !=''">
				,product_code = #{productCode}
			</if>
			<if test="imgPath !=null and imgPath !=''">
				,img_path = #{imgPath}
			</if>
			<if test="isDisable !=null and isDisable !=''">
				,is_disable = #{isDisable}
			</if>
			<if test="sortOrder !=null and sortOrder !=''">
				,sort_order = #{sortOrder}
			</if>
			
		where id = #{id}
			
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_sku_product_image where  id = #{id}
	</delete>
	<select id="findById" parameterType="java.lang.Long" resultMap="skuProductImageMap">
		select 
			id,product_code,img_path,sort_order,version,is_disable,create_time,create_id,update_time,update_id
		from 
			t_sku_product_image
		where 
			id = #{id}
	
	</select>
	<delete id="deleteByProductCode" parameterType="java.lang.String">
		delete from t_sku_product_image where product_code = #{productCode}
	</delete>
</mapper>