<!-- 公共头部 开始 -->
<!-- logo,搜索框 -->
<div class="site-header container">
  <div class="logo">
    <h1><a href="index.html"><img src="images/logo.jpg" alt="fushion baby" title="fushion baby"><span class="logo-txt">fushion baby</span></a></h1>
  </div>
  <div class="header-info">
    <div class="search">
      <form action="search-list.html" class="search-form" method="get">
        <input type="text" class="search-text" placeholder="搜索你需要的商品" autocomplete="off" name="keyword"><input type="submit" class="search-btn iconfont" value="">
      </form>
    </div>
    <div class="shop">
      <i class="shop-car iconfont"></i><span class="shop-info">去购物车结算</span>
      <div class="mini-cart-list" id="lot">
        <div class="white">
        </div>
        <div class="mini-cart-wrapper">
          <ul>
            <li class="car-module">
            <div class="car-module-l">
              <img src="images/car-list.jpg" alt="">
            </div>
            <div class="car-module-m">
              <p class="cmm-title">
                <span class="ct-txt"><a href="details.html">1阶段婴儿奶嘴,天然无毒...</a></span><span class="ct-num">X<em class="num">1</em></span>
              </p>
              <p class="desc-color">颜色分类：粉红色</p>
            </div>
            <div class="car-module-r">
              <i class="dele"></i>
            </div>
            </li>
            <li class="car-module">
            <div class="car-module-l">
              <img src="images/car-list.jpg" alt="">
            </div>
            <div class="car-module-m">
              <p class="cmm-title">
                <span class="ct-txt"><a href="details.html">1阶段婴儿奶嘴,天然无毒...</a></span><span class="ct-num">X<em class="num">1</em></span>
              </p>
              <p class="desc-color">颜色分类：粉红色</p>
            </div>
            <div class="car-module-r">
              <i class="dele"></i>
            </div>
            </li>
            <li class="car-module">
            <div class="car-module-l">
              <img src="images/car-list.jpg" alt="">
            </div>
            <div class="car-module-m">
              <p class="cmm-title">
                <span class="ct-txt"><a href="details.html">1阶段婴儿奶嘴,天然无毒...</a></span><span class="ct-num">X<em class="num">1</em></span>
              </p>
              <p class="desc-color">颜色分类：粉红色</p>
            </div>
            <div class="car-module-r">
              <i class="dele"></i>
            </div>
            </li>
            <li class="car-module">
            <div class="car-module-l">
              <img src="images/car-list.jpg" alt="">
            </div>
            <div class="car-module-m">
              <p class="cmm-title">
                <span class="ct-txt"><a href="details.html">1阶段婴儿奶嘴,天然无毒...</a></span><span class="ct-num">X<em class="num">1</em></span>
              </p>
              <p class="desc-color">颜色分类：粉红色</p>
            </div>
            <div class="car-module-r">
              <i class="dele"></i>
            </div>
            </li>
          </ul>
          <div class="car-line">
          </div>
          <div class="add-up clearfix">
            <div class="add-up-l">
              <p>共<span>4</span>件商品</p>
              <p>合计：&yen;<span>100</span>元</p>
            </div>
            <a href="car.html" class="add-up-r">去购物车结算</a>
          </div>
        </div>
      </div>
      <div class="mini-cart-list" id="none">
        <div class="white">
        </div>
        <div class="mini-cart-wrapper">
          <ul>
            <li class="car-module">
            <p class="none-buy">购物车内没有商品,赶紧选购吧！</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="shop-num">4</div>
    </div>
  </div>
</div>
<!-- 分类导航条 -->
<div class="navall">
  <div class="header-nav clearfix">
    <div class="nav-category">
      <div class="nav-category-text">全部商品分类</div>
      <!-- 首页分类 -->
      <div id="index-drap-down">
        <div class="oversea-a">
          <a href="#" class="navla" title="海外同步专区"><nobr>海外同步专区</nobr></a>
          <a href="" class="navlp"><nobr>babymonsters</nobr></a>
        </div>
        <div class="drap-wrap fl">
        <ul>
          <li class="navl">
            <a href="" class="navla"><nobr>怀孕妈妈必备用品清单</nobr></a>
            <a href="" class="navlp"><nobr>babymonsters</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝用品清单</nobr></a>
            <a href="" class="navlp"><nobr>Britax</nobr></a>
            <a href="" class="navlp"><nobr>Concord</nobr></a>
            <a href="" class="navlp"><nobr>joie</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝0-1岁玩具清单</nobr></a>
            <a href="" class="navlp"><nobr>WAIWERA</nobr></a>
            <a href="" class="navlp"><nobr>Life Factory</nobr></a>
            <a href="" class="navlp"><nobr>Zoku</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝1-3岁玩具清单</nobr></a>
            <a href="" class="navlp"><nobr>Apooner</nobr></a>
            <a href="" class="navlp"><nobr>aden+anais</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝早教清单</nobr></a>
            <a href="" class="navlp"><nobr>bloom</nobr></a>
            <a href="" class="navlp"><nobr>babyhome</nobr></a>
            <a href="" class="navlp"><nobr>joie</nobr></a>
            <a href="" class="navlp"><nobr>Britax</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝服装清单</nobr></a>
            <a href="" class="navlp"><nobr>Britax</nobr></a>
            <a href="" class="navlp"><nobr>Concord</nobr></a>
            <a href="" class="navlp"><nobr>joie</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝清单</nobr></a>
            <a href="" class="navlp"><nobr>Britax</nobr></a>
            <a href="" class="navlp"><nobr>Concord</nobr></a>
            <a href="" class="navlp"><nobr>joie</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝清单</nobr></a>
            <a href="" class="navlp"><nobr>Britax</nobr></a>
            <a href="" class="navlp"><nobr>Concord</nobr></a>
            <a href="" class="navlp"><nobr>joie</nobr></a>
            <span class="triangle-left"></span>
          </li>
          <li class="navl">
            <a href="" class="navla"><nobr>宝宝清单</nobr></a>
            <a href="" class="navlp"><nobr>Britax</nobr></a>
            <a href="" class="navlp"><nobr>Concord</nobr></a>
            <a href="" class="navlp"><nobr>joie</nobr></a>
            <span class="triangle-left"></span>
          </li>
        </ul>
        <div class="hide_nav">
          <ul>
            <li>
              <div class="all_wrap">
                <a href="" class="hide_nav_tit">逻辑思维想象力（18个月以上）</a>
                <div class="a_wrap">
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                </div>
              </div>
              <div class="all_wrap">
                <a href="" class="hide_nav_tit">早期感官发育（0-3个月）</a>
                <div class="a_wrap">
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                </div>
              </div>
              <div class="all_wrap">
                <a href="" class="hide_nav_tit">认知、语言能力3-6个月</a>
                <div class="a_wrap">
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                </div>
              </div>
              <div class="all_wrap">
                <a href="" class="hide_nav_tit">身体运动机能6-10个月</a>
                <div class="a_wrap">
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                </div>
              </div>
              <div class="all_wrap">
                <a href="" class="hide_nav_tit">配件系列</a>
                <div class="a_wrap">
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                  <a href="">宝宝帽</a>
                  <a href="">电动吸奶器</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <script type="text/javascript">
        // 循环'.hide_nav' 下的 'ul' X7；
      $(function(){
        var num = 7;//设定循环后总数
        for(i=1;i<=num-1;i++){
          $('.hide_nav').append($('.hide_nav ul:first').clone());
        }
      })
      </script>
      <!-- 其他页面分类 -->
      <div id="nav-drap-other">
        <ul>
          <li><a class="icon-nav1" href="">海外同步专区</a></li>
          <li><a class="icon-nav2" href="">安全座椅</a></li>
          <li><a class="icon-nav3" href="">童车</a></li>
          <li><a class="icon-nav4" href="">洗护用品/纸尿裤</a></li>
          <li><a class="icon-nav5" href="">喂养用品</a></li>
          <li><a class="icon-nav6" href="">玩具</a></li>
          <li><a class="icon-nav7" href="">主题家居</a></li>
          <li><a class="icon-nav8" href="">服装</a></li>
          <li><a class="icon-nav9" href="">精选母婴分类</a></li>
          <li><a class="icon-nav10" href="">妈咪精选</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-main">
      <ul class="nav-main-list clearfix">
        <li><a class="nav-main-item" href="index.html">首页</a></li>
        <li><a class="nav-main-item" href="fs.html">风尚宝贝志</a></li>
        <li id="vip-button"><a class="nav-main-item" href="javascript:">会员增值</a>
        <div id="vip-ul" class="new-nav-drop-down nav-drop-down1">
          <ul>
            <li class="vip-icon1"><a href="javascript:" class="navla">亲子课程</a></li>
            <li class="vip-icon2"><a href="javascript:" class="navla">户外活动</a></li>
            <li class="vip-icon3"><a href="javascript:" class="navla">礼品卡</a></li>
          </ul>
        </div>
        </li>
        <li><a class="nav-main-item" href="download.html">手机客户端</a></li>
        <li class="crown"><a class="nav-main-item" href="online-list.html"><span></span>在线品牌</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 公共头部 结束 -->
