<!-- 公共顶部 开始 -->
<div class="site-topbar">
  <div class="container">
    <div class="st-bdl">
      <span>你好，欢迎您来到FUSHIONBABY !</span><span class="tn-line">丨</span><span class="login"><a href="login.html">登陆</a></span><span class="tn-line">丨</span><span class="register"><a href="register.html">快速注册</a></span>
    </div>
    <div class="st-signed">
      <span class="uesrname-wrapper"><span>欢迎您：</span><span class="uesrname"><span>液氧橘子</span><span class="arrow-tips"></span>
      <div class="clearfix">
      </div>
      <div class="user-drop">
        <ul>
          <li><a class="personal" href="persona-order.html"><i></i><span>个人中心</span></a></li>
          <li><a class="collect" href="persona-order.html?true"><i></i><span>我的收藏</span></a></li>
          <li><a class="withdraw" href="index.html"><i></i><span>退出登录</span></a></li>
        </ul>
      </div>
      </span></span>
    </div>
    <div class="st-bdr">
      <span class="baoy">全场满 199 元包邮！</span><span class="tn-line">丨</span><span class="tel">联系电话：4006-282-528</span>
    </div>
  </div>
</div>
<!-- 公共顶部 结束 -->
